<div class="region-container flex gap-2 flex-col">
  <form [formGroup]="pnjForm" autocomplete="off" class="flex flex-col gap-2">
    <div class="flex gap-2">
      <div class="hero-avatar cursor-pointer" (click)="picture()">
        <img style="width:100%"
             [src]="avatarCtrl.value !== null ? avatarCtrl.value : '/frontend/assets/bol/empty-avatar.jpg'"
             alt="avatar">
        <p class="hero-avatar__description">Modifier</p>
      </div>


      <div class="flex flex-col gap-1">
        <!--- Nom du joueur --->
        <div class="flex flex-col gap-1 w-fit justify-end">
          <label for="nom">Nom du personnage</label>
          <input formControlName="nom" pInputText id="joueur" class="p-inputtext-sm"/>
        </div>
        <div class="flex flex-col gap-1 w-fit justify-end">
          <label for="type">Type</label>
          <p-dropdown [style]="{ width: '190px' }"
                      class="p-inputtext-sm"
                      optionLabel="type"
                      optionValue="value"
                      [options]="type"
                      formControlName="type"
                      placeholder="Selectionner un type"></p-dropdown>
        </div>
        <div class="flex flex-col gap-1">
          <label for="vitalite">Vitalité</label>
          <p-inputNumber formControlName="vitalite" inputId="vitalite" maxFractionDigits="0"/>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-1 w-fit justify-end">
          <label for="commentaire">Commentaire</label>
          <textarea rows="4" cols="30" pInputTextarea formControlName="commentaire"></textarea>
        </div>
      </div>

    </div>
    <div class="flex gap-4">
      <p-fieldset legend="Attributs">
        <div class="flex gap-2">
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="vigueur">Vigueur</label>
              <p-inputNumber formControlName="vigueur" inputId="vigueur" maxFractionDigits="0"/>
            </div>
            <div class="flex flex-col gap-1">
              <label for="agilite">Agilité</label>
              <p-inputNumber formControlName="agilite" inputId="agilite" maxFractionDigits="0"/>
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="esprit">Esprit</label>
              <p-inputNumber formControlName="esprit" inputId="esprit" maxFractionDigits="0"/>
            </div>
            <div class="flex flex-col gap-1">
              <label for="aura">Aura</label>
              <p-inputNumber formControlName="aura" inputId="aura" maxFractionDigits="0"/>
            </div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Combat">
        <div class="flex gap-2">
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="initiative">Initiative</label>
              <p-inputNumber formControlName="initiative" inputId="initiative"/>
            </div>
            <div class="flex flex-col gap-1">
              <label for="melee">Mêlée</label>
              <p-inputNumber formControlName="melee" inputId="melee"/>
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="tir">Tir</label>
              <p-inputNumber formControlName="tir" inputId="tir"/>
            </div>
            <div class="flex flex-col gap-1">
              <label for="defense">Défense</label>
              <p-inputNumber formControlName="defense" inputId="defense"/>
            </div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset>
        <ng-template pTemplate="header">
          <div class="flex items-center gap-2">
            <div>Carrières</div>
            <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une capacité" (click)="addItem('C', $event)"></app-btn>
          </div>
        </ng-template>

        <div style="min-height: 72px;">
        <div *ngIf="carrieresCtrl.value?.length === 0" class="text-xl text-gray-500">Vous pouvez choisir des carrières</div>
        <div formArrayName="carrieres">
          <div class="flex flex-col" *ngFor="let carriere of carrieres.controls; let i = index">
            <div class="flex flex-col">
              <div [formGroupName]="i" class="flex gap-2 items-center">
                <div style="width: 100px">{{carriereFromId(carriere.value.id)}}</div>
                <p-inputNumber formControlName="value" inputId="defense" maxFractionDigits="0"/>
                <app-btn (click)="removeItem(carriere.value.id, carrieres)"></app-btn>
              </div>
            </div>
          </div>
        </div>
        </div>
      </p-fieldset>
    </div>
    <div class="flex gap-2">
      <p-fieldset class="flex-auto">
        <ng-template pTemplate="header">
          <div class="flex items-center gap-2">
            <div>Armes</div>
            <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une arme" (click)="addItem('A', $event)"></app-btn>
          </div>
        </ng-template>

        <div *ngIf="armesCtrl.value?.length === 0" class="text-xl text-gray-500">Vous pouvez choisir des armes</div>
        <div>
          <div *ngFor="let item of selectedArmes()" class="flex gap-2 items-center pb-1">
            <div class="flex gap-2 items-center" style="width: 250px">
              {{ item.arme }} {{item.degats}}
            </div>
            <app-btn (click)="removeItem(item.id, armes)"></app-btn>
          </div>
        </div>
      </p-fieldset>

      <p-fieldset class="flex-auto">
        <ng-template pTemplate="header">
          <div class="flex items-center gap-2">
            <div>Armures</div>
            <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une armure" (click)="addItem('D', $event)"></app-btn>
          </div>
        </ng-template>
        <div *ngIf="armuresCtrl.value?.length === 0" class="text-xl text-gray-500">Vous pouvez choisir des armures</div>
        <div>
          <div *ngFor="let item of selectedArmures()" class="flex gap-2 items-center pb-1">
            <div class="flex gap-2 items-center" style="width: 250px">
              {{ item.armure }} {{item.protection}}
            </div>
            <app-btn (click)="removeItem(item.id, armures)"></app-btn>
          </div>
        </div>
      </p-fieldset>

      <p-fieldset class="flex-auto">
        <ng-template pTemplate="header">
          <div class="flex items-center gap-2">
            <div>Avantages & Désavantages</div>
            <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une avantage" (click)="addItem('TA', $event)"></app-btn>
            <app-btn type="warn" icon="plus-circle" pTooltip="Ajouter une désavantage" (click)="addItem('TD', $event)"></app-btn>
          </div>
        </ng-template>
          <div *ngIf="traitsCtrl.value?.length === 0" class="text-xl text-gray-500">Vous pouvez choisir des traits</div>
          <div class="flex flex-col gap-2" formArrayName="traits">
            <ng-container *ngFor="let trait of traits.controls; let i = index">
                <div [formGroupName]="i" class="flex gap-2 items-center">
                  <div style="width: 100px"
                       [class.error-color]="trait.value.type ==='D'"
                       [class.success-color]="trait.value.type ==='A'" class="whitespace-nowrap">
                    {{traitFromIdType(trait.value)}}
                  </div>
                  <app-btn (click)="removeTrait(trait.value, traits)"></app-btn>
                </div>
            </ng-container>
          </div>
      </p-fieldset>


    </div>
  </form>
  <div class="flex justify-end gap-2 pt-2">
    <button pButton icon="pi pi-times" size="small" label="Quitter" severity="secondary"
            (click)="quit($event)"></button>
    <button pButton icon="pi pi-check" size="small" label="Valider" severity="success" [disabled]="pnjForm.invalid"
            (click)="submit($event)"></button>
  </div>
</div>

<p-overlayPanel #opPnj>
  <div class="flex flex-col gap-4">
    <div>{{ itemTitle() }}</div>

    <div class="flex flex-col gap-2">
      <p-dropdown [style]="{ width: '250px' }" [options]="unselectedItems()"
                  [(ngModel)]="selectedItem" [ngModelOptions]="{standalone: true}" [showClear]="true"
                  placeholder="Faites votre sélection">

        <ng-template pTemplate="selectedItem" let-selectedOption>

          <div class="flex align-items-center gap-2">
            <div *ngIf="currentField() === 'armes'">{{ selectedOption.arme }}</div>
            <div *ngIf="currentField() === 'armures'">{{ selectedOption.armure }}</div>
            <div *ngIf="currentField() === 'carrieres'">{{ selectedOption.carriere }}</div>
            <div *ngIf="currentField() === 'avantages'">{{ selectedOption.avantage }}</div>
            <div *ngIf="currentField() === 'desavantages'">{{ selectedOption.desavantage }}</div>
          </div>
        </ng-template>

        <ng-template let-item pTemplate="item">
          <div class="flex flex-col gap-2">
            @if (currentField() === 'armes') {
              <div>{{item.arme}}</div>
              <div class="text-gray-400">{{item.degats}}</div>
            }
            @if (currentField() === 'armures') {
              <div>{{ item.armure }}</div>
              <div class="text-gray-400"> {{item.protection}}</div>
            }
            @if (currentField() === 'carrieres') {
              <div>{{ item.carriere }}</div>
              <div class="text-gray-400"> {{item.detail}}</div>
            }
            @if (currentField() === 'avantages') {
              <div>{{ item.avantage }}</div>
            }
            @if (currentField() === 'desavantages') {
              <div>{{ item.desavantage }}</div>
            }
          </div>
        </ng-template>
      </p-dropdown>
    </div>


    <div class="flex justify-end gap-2">
      <button severity="secondary" type="button" size="small" pButton pRipple icon="pi pi-times"
              (click)="opPnj.toggle($event)"></button>
      <button severity="success" type="button" size="small" pButton pRipple icon="pi pi-check"
              (click)="createItem(opPnj, $event)"
              [disabled]="!selectedItem()"></button>
    </div>
  </div>
</p-overlayPanel>
