<div class="flex  items-center justify-between px-4 py-2">
  <div class="flex">
    <img ngSrc="assets/title.png" alt="" width="150" height="40" priority>
    <div class="topbar-title">{{title()}}</div>
  </div>

  <div class="flex gap-4">
    @if (me; as user) {
      <div class="flex cursor-pointer" (click)="menu.toggle($event)">
        @if (user.avatar) {
          <p-avatar [image]="environment.apiBase + '/api/auth/avatar/' + user.avatar" size="normal"
                    shape="circle"></p-avatar>
        } @else {
          <p-avatar icon="pi pi-user" size="large" shape="circle"></p-avatar>
        }
      </div>
    }
  </div>
</div>
<p-menu #menu [model]="items" [popup]="true">
  <ng-template #start>
    @if (me; as user) {
      <button pRipple
              class="relative overflow-hidden w-full border-0 bg-transparent flex items-start p-2 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200">
        <p-avatar [image]="environment.apiBase + '/api/auth/avatar/' + user.avatar" class="mr-2" shape="circle"/>
        <span class="flex flex-col">
                <span class="font-bold text-justify">{{ user.name }}</span>
                <span class="text-sm text-justify">{{ user.email }}</span>
        </span>
      </button>
    }
  </ng-template>
</p-menu>
