<div class="dw-topbar items-center justify-between">
  <div class="flex gap-2">
    <div class="dw-topbar__logo relative" [routerLink]="'/'">
      <div *ngIf="nameSpace() === ''" class="dw_banner" [inlineSVG]="'/frontend/assets/banner.svg'"></div>
      <img *ngIf="nameSpace() === 'bol'" class="dw_title" src="/frontend/assets/bol/logo.png" alt=""/>
    </div>
    <div class="flex items-center text-3xl relative dw_route" style="top: -3px">
      {{ route() }}
    </div>
  </div>
  <div *ngIf="userObs | async as user" class="flex gap-4 cursor-pointer" (click)="op.toggle($event)">
    <div class="flex flex-col">
      <div>{{user.name}}</div>
      <div><small>{{user.email}}</small></div>
    </div>
    @if (user.avatar) {
      <p-avatar [image]="user.avatar" styleClass="mr-2" size="large" shape="circle"></p-avatar>
    } @else {
      <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" shape="circle"></p-avatar>
    }
  </div>
</div>

<p-overlayPanel #op>
  <div class="flex gap-2">
    <div [setSVGAttributes]="{width: 20, height: 20}" [inlineSVG]="'/frontend/assets/logout.svg'"></div>
    <a (click)="logout()" class="underline cursor-pointer">Se déconnecter</a>
  </div>
</p-overlayPanel>
