.hero-avatar {
  height: 98px;
  width: 98px;
  margin: 2px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #424b57;
  position: relative;
}
.hero-avatar__description {
  position: absolute;
  inset:0;
  background: rgba(143, 158, 168, 0.5);
  color: #fff;
  //visibility: hidden;
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
.hero-avatar:hover .hero-avatar__description {
  visibility: visible;
  opacity: 1;
}

.input-overlay {
  position: absolute;
  inset:0;
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
  padding-bottom: 3px;
  padding-right: 5px;
  cursor: pointer;
}
.input-overlay:hover .hide-region {
  display: inline-block;
}
.hide-region { display: none; }
.carriere-desc {
  font-size: 12px;
}
