<p-fieldset [style]="{height: '155px', width: '220px'}">

  <ng-template pTemplate="header">
    <div class="flex items-center gap-2">
      <div class="cursor-pointer" (click)="aptitudesInfos.toggle($event)">
        <i *ngIf="!aptitudeErrors.length && !aptitudeWarns.length" class="pi pi-info-circle"></i>
        <div *ngIf="aptitudeErrors.length" style="color: var(--error-color)">
          <i class="pi pi-exclamation-triangle"></i> ({{ aptitudeErrors.length }})
        </div>
        <div *ngIf="aptitudeWarns.length" style="color: var(--warn-color)">
          <i class="pi pi-exclamation-triangle"></i> ({{ aptitudeWarns.length }})
        </div>
      </div>
      <div>Combat</div>
    </div>
    <p-overlayPanel #aptitudesInfos>
      <div class="flex flex-col gap-2">
        <bol-message type="apt"></bol-message>
        <bol-message type="form-errors" *ngIf="aptitudeErrors.length" legend="Aptitudes invalides"
                     [data]="aptitudeErrors"></bol-message>
        <bol-message type="form-warn" *ngIf="aptitudeWarns.length" legend="Aptitudes invalides"
                     [data]="aptitudeWarns"></bol-message>
      </div>
    </p-overlayPanel>
  </ng-template>
  <div class="flex gap-2" [formGroup]="aptitudesForm">
    <div class="flex flex-col gap-1">
      <div class="flex flex-col gap-1">
        <label for="initiative">Initiative</label>
        <p-inputNumber formControlName="initiative" inputId="initiative"/>
      </div>
      <div class="flex flex-col gap-1">
        <label for="tir">Tir</label>
        <p-inputNumber formControlName="tir" inputId="tir"/>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <div class="flex flex-col gap-1">
        <label for="melee">Melée</label>
        <p-inputNumber formControlName="melee" inputId="melee"/>
      </div>
      <div class="flex flex-col gap-1">
        <label for="defense">Défense</label>
        <p-inputNumber formControlName="defense" inputId="defense" maxFractionDigits="0"/>
      </div>
    </div>
  </div>
</p-fieldset>
