.dw-home {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

.dw-dash {
  &.bol {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url('/assets/bol/bol-board.jpg');
  }
  &.cp {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url('/assets/cp/cp-board.jpg');
  }
  &.cth {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url('/assets/cth/cth-board.jpg');
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 350px;
}
