<app-topbar></app-topbar>
<div class="home-container flex flex-wrap gap-4 justify-center">
  <p-card class="home-card" header="Barbarian Of Lémuria">
    <ng-template pTemplate="header">
      <img alt="Card" src="/frontend/assets/bol/logo.png" />
    </ng-template>
    <div class="text-s">
      Explorez l'univers captivant de Barbarians of Lemuria, un jeu de rôle inspiré de la "sword and sorcery", mêlant action héroïque et magie mystérieuse.
    </div>
  </p-card>

  <p-card class="home-card" header="Cyberpunk">
    <ng-template pTemplate="header">
      <img alt="Card" src="/frontend/assets/cyberpunk/logo.png"/>
    </ng-template>
    <div class="text-s">
      Explorez l'univers captivant de Barbarians of Lemuria, un jeu de rôle inspiré de la "sword and sorcery", mêlant action héroïque et magie mystérieuse.
    </div>
  </p-card>

  <p-card class="home-card" header="Runequest">
    <ng-template pTemplate="header">
      <img alt="Card" src="/frontend/assets/rq/logo.png"/>
    </ng-template>
    <div class="text-s">
      Explorez l'univers captivant de Barbarians of Lemuria, un jeu de rôle inspiré de la "sword and sorcery", mêlant action héroïque et magie mystérieuse.
    </div>
  </p-card>

  <p-card class="home-card" header="l'appel de cthulhu">
    <ng-template pTemplate="header">
      <img alt="Card" src="/frontend/assets/cth/logo.jpg"/>
    </ng-template>
    <div class="text-s">
      Explorez l'univers captivant de Barbarians of Lemuria, un jeu de rôle inspiré de la "sword and sorcery", mêlant action héroïque et magie mystérieuse.
    </div>
  </p-card>

</div>
