<div class="region-container flex gap-2" style="overflow: auto">
  <div class="flex-auto">
    <p-panel styleClass="region-panel">
      <p-scrollPanel [style]="{height: '100%'}">
      <p-dataView #dv [value]="regions">
        <ng-template pTemplate="list" let-regions>
            <div class="region-item" [class.p-highlight]="region.id === currentRegionId" *ngFor="let region of regions; let first = first" (click)="currentRegionId = region.id">
              {{ region.region }}
            </div>
        </ng-template>
      </p-dataView>
      </p-scrollPanel>
    </p-panel>
  </div>
  <div class="flex">
    <p-panel styleClass="region-panel">
      <div class="region-carte">
        <img class="img-carte" src="/frontend/assets/bol/carte.jpg" alt="carte"/>
      </div>
    </p-panel>
  </div>
</div>
<div class="flex justify-end gap-2 pt-3">
  <p-button icon="pi pi-times" size="small" label="Quitter" severity="secondary" (click)="quit()"></p-button>
  <p-button icon="pi pi-check" size="small" label="Valider" severity="success"></p-button>
</div>
