<div *ngIf="ready" class="region-container flex gap-2">
  <div class="dw-panel h-full">
    <img class="region-carte" id="bol-carte" src="/frontend/assets/bol/cartes/carte{{currentRegion ? '-'+currentRegion.id : ''}}.jpg" alt="carte"/>
  </div>
  <div class="flex flex-col gap-1 w-full">
    <p-messages severity="info">
      <ng-template pTemplate>
        <div class="info_icon" inlineSVG="/frontend/assets/rolling-dices.svg"></div>
        <div class="ml-4">
          Sélectionnez la région de votre personnage.<br>
          Vous pourrez choisir si vous le voulez dans la liste des noms.<br>
          La sélection des avantages et des désavantages se fera dans un second temps.</div>
      </ng-template>
    </p-messages>
    <p-fieldset legend="Régions">
      <p-scrollPanel #regionPanel [style]="{height: '60px'}">
        <div class="flex flex-wrap gap-2">
          <p-tag *ngFor="let region of regions;"
                 id="region-{{region.id}}"
                 class="region-tag"
                 (click)="setCurrentRegion(region)"
                 [styleClass]="region.id === currentRegion?.id ? 'selected-region' : 'unselected-region'"
                 [value]="region.region"
          ></p-tag>
        </div>
      </p-scrollPanel>
    </p-fieldset>
    <!-- Si pas de région sélectionnée -->
    <div *ngIf="!currentRegion" class="flex-auto flex flex-col gap-2 items-center">
      <div class="relative" style="height: 70px;">
        <div class="arrow">&#8674;</div>
      </div>
      <div style="color: darkgrey; font-size: 3vw; font-weight: lighter;white-space: nowrap">Sélectionnez une région d'origine.</div>
    </div>
    <!-- Si cote de feu -->
    <div *ngIf="currentRegion && currentRegion.id === 1" class="flex-auto flex flex-col gap-2">
      <p-messages severity="warn">
        <ng-template pTemplate>
          <div class="info_icon" inlineSVG="/frontend/assets/sword.svg"></div>
          <div class="ml-4">
            Dans "La Côte de Feu", la Reine Sorcière règne avec ses gardes kalukans.<br>
            Si votre héros vient de là, vous pouvez en faire être un <strong>kalukan</strong> avec l'accord du MJ.<br>
            Sinon, vous pouvez choisir d'être un humain et utiliser les listes d'avantages/désavantages proposées pour <strong>Halakh</strong> ou <strong>les marais de Kasht</strong>.
          </div>
        </ng-template>
      </p-messages>
    </div>
    <div *ngIf="currentRegion && currentRegion.id === 13" class="flex-auto flex flex-col gap-2">
      <p-messages severity="warn">
        <ng-template pTemplate>
          <div class="info_icon" inlineSVG="/frontend/assets/sword.svg"></div>
          <div class="ml-4">
            Les plaines de Klaar sont la demeure des
            <strong>céruléens</strong>, une race de géants à la peau grisbleu qu’on surnomme aussi les nomades bleus.
          </div>
        </ng-template>
      </p-messages>
    </div>
    <div *ngIf="currentRegion && currentRegion.id === 16" class="flex-auto flex flex-col gap-2">
      <p-messages severity="warn">
        <ng-template pTemplate>
          <div class="info_icon" inlineSVG="/frontend/assets/sword.svg"></div>
          <div class="ml-4">
            Personne ne sait grand-chose au sujet des Terres Désolées, et moins encore sur les contrées qui s’étendraient au-delà.
          </div>
        </ng-template>
      </p-messages>
    </div>

    <div *ngIf="currentRegion && ![1,13,16].includes(currentRegion.id)" class="flex-auto flex flex-col gap-2">
      <div *ngIf="currentRegion.noms.length == 0" class="flex-autos flex flex-col gap-2">
        <p-messages severity="warn">
          <ng-template pTemplate>
            <div class="info_icon" inlineSVG="/frontend/assets/sword.svg"></div>
            <div class="ml-4">
              Comme des gens de tous horizons se retrouvent ici, on y rencontre des noms provenant de toutes les contrées de Lémurie.
            </div>
          </ng-template>
        </p-messages>
      </div>
      <div *ngIf="currentRegion.noms.length > 0" class="flex gap-2">
        <p-fieldset legend="Noms Masculins" class="w-1/2">
          <p-scrollPanel [style]="{height: '55px'}">
            <div class="flex gap-2 flex-wrap">
              <p-tag (click)="selectedName = nom.nom"
                     [styleClass]="selectedName === nom.nom ? 'selected-name' : 'unselected-name'" [value]="nom.nom"
                     *ngFor="let nom of currentRegion?.nomsMasculins"></p-tag>
            </div>
          </p-scrollPanel>
        </p-fieldset>
        <p-fieldset legend="Noms Féminins" class="w-1/2">
          <p-scrollPanel [style]="{height: '55px'}">
            <div class="flex gap-2 flex-wrap">
              <p-tag (click)="selectedName = nom.nom"
                     [styleClass]="selectedName === nom.nom ? 'selected-name' : 'unselected-name'" [value]="nom.nom"
                     *ngFor="let nom of currentRegion?.nomsFeminins"></p-tag>
            </div>
          </p-scrollPanel>
        </p-fieldset>
      </div>

      <div class="flex flex-auto pb-2 gap-2">
        <p-fieldset legend="Avantages" class="w-1/2 h-full" styleClass="h-full relative">
          <div style="position: absolute; inset:15px;">
            <p-scrollPanel [style]="{display: 'block', height: '100%'}">
              <ng-container *ngFor="let avantage of currentRegion?.avantages">
                <div class="flex w-fit">
                  <div *ngIf="!avantage.de_bonus && !avantage.attribut" class="tag_icon bonus"
                       inlineSVG="/frontend/assets/info.svg"></div>
                  <div *ngIf="avantage.de_bonus || avantage.attribut" class="tag_icon bonus"
                       [inlineSVG]="avantage.de_bonus ? '/frontend/assets/d6.svg' : '/frontend/assets/attr.svg'"></div>
                  <div>{{ avantage.avantage }}</div>
                </div>

                <div class="dw-panel mb-2" style="background: #424B57">
                  <div *ngFor="let desc of avantageDescription(avantage)" class="flex flex-col">
                    <div style="font-size: 12px; white-space: nowrap; font-weight: bolder">{{ desc.title }}</div>
                    <div style="font-size: 12px">{{ desc.description }}</div>
                  </div>
                </div>

              </ng-container>
            </p-scrollPanel>
          </div>
        </p-fieldset>

        <p-fieldset legend="Désavantages" class="w-1/2 h-full" styleClass="h-full relative">
          <div style="position: absolute; inset:15px;">
            <p-scrollPanel [style]="{display: 'block', height: '100%'}">
              <ng-container *ngFor="let desavantage of currentRegion?.desavantages">
                <div class="flex w-fit">
                  <div *ngIf="!desavantage.de_malus && !desavantage.attribut" class="tag_icon malus"
                       inlineSVG="/frontend/assets/info.svg"></div>
                  <div *ngIf="desavantage.de_malus || desavantage.attribut" class="tag_icon malus"
                       [inlineSVG]="desavantage.de_malus ? '/frontend/assets/d6.svg' : '/frontend/assets/attr.svg'"></div>
                  <div>{{ desavantage.desavantage }}</div>
                </div>

                <div class="dw-panel mb-2" style="background: #424B57">
                  <div *ngFor="let desc of desavantageDescription(desavantage)" class="flex flex-col">
                    <div style="font-size: 12px; white-space: nowrap; font-weight: bolder">{{ desc.title }}</div>
                    <div style="font-size: 12px">{{ desc.description }}</div>
                  </div>
                </div>
              </ng-container>
            </p-scrollPanel>
          </div>
        </p-fieldset>
      </div>
    </div>
    <div class="flex justify-end gap-2">
      <p-button icon="pi pi-times" size="small" label="Quitter" severity="secondary" (click)="quit()"></p-button>
      <p-button icon="pi pi-check" size="small" label="Valider" severity="success" [disabled]="!currentRegion"
                (click)="validate()"></p-button>
    </div>
  </div>
</div>
