<p-fieldset class="w-full"  [formGroup]="carrieresForm">
  <!-- Header Carrières -->
  <ng-template pTemplate="header">
    <div class="flex items-center gap-2">
      <div class="cursor-pointer" (click)="carriereInfos.toggle($event)">
        <i *ngIf="!carriereErrors.length && !carriereWarns.length" class="pi pi-info-circle"></i>
        <div *ngIf="carriereErrors.length" style="color: var(--error-color)">
          <i class="pi pi-exclamation-triangle"></i> ({{ carriereErrors.length }})
        </div>
        <div *ngIf="carriereWarns.length" style="color: var(--warn-color)">
          <i class="pi pi-exclamation-triangle"></i> ({{ carriereWarns.length }})
        </div>
      </div>
      <div>Carrières</div>
    </div>
    <p-overlayPanel #carriereInfos>
      <div class="flex flex-col gap-2">
        <bol-message type="carrieres"></bol-message>
        <bol-message type="form-errors" *ngIf="carriereErrors.length" legend="Carrieres invalides" [data]="carriereErrors"></bol-message>
        <bol-message type="form-warn" *ngIf="carriereWarns.length" legend="Aptitudes invalides" [data]="carriereWarns"></bol-message>
      </div>
    </p-overlayPanel>
  </ng-template>
  <!-- Body Carrières -->
  <ng-container>
  <ng-container formArrayName="carrieres">
    <div class="flex flex-col gap-1" *ngFor="let carriere of carrieres.controls; let i = index">
      <div class="flex flex-col mb-2">
        <div [formGroupName]="i" class="flex gap-2 items-center">
          <ng-template #templateRef let-carri="carTpl">
            <div style="width: 125px" class="flex flex-col">
              <div>{{ carri.carriere }}</div>
              <div class="text-gray-400" style="font-size: smaller" *ngIf="carri.detail">{{ carri.detail }}
              </div>
            </div>
          </ng-template>
          <div
            *ngTemplateOutlet="templateRef; context: { carTpl: carriereFromId(carriere.get('carriere_id')?.value) }">
          </div>
          <p-inputNumber formControlName="value" inputId="defense" maxFractionDigits="0" />
          <app-trash (click)="deleteCarriere(carriere.get('carriere_id')?.value, $event)"></app-trash>
        </div>
        <div class="carriere-desc text-amber-500"
             *ngIf="carriereFromId(carriere.get('carriere_id')?.value)">{{
            carriereFromId(carriere.get('carriere_id')?.value).description }}
        </div>
      </div>

    </div>
  </ng-container>
  </ng-container>
  <!-- Footer Carrieres -->
  <div *ngIf="carrieres.length < 4" class="flex justify-end gap-2">
    <p-button (click)="selectedCarriere.set(null); opCarriere.toggle($event)" label="Ajouter une carrière"
              size="small" [link]="true" class="text-cyan-600" />
    <p-overlayPanel #opCarriere>
      <div class="flex flex-col gap-4">
        <div>Ajouter une carrière</div>
        <p-dropdown [style]="{ width: '250px' }" [options]="availableCarrieres()"
                    [(ngModel)]="selectedCarriere" [ngModelOptions]="{standalone: true}" [filter]="true"
                    filterBy="carriere" [showClear]="true" placeholder="Selectionner une carriere">

          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedOption.carriere }}</div>
            </div>
          </ng-template>

          <ng-template let-carriere pTemplate="item">
            <div class="flex flex-col gap-2">
              <div>{{ carriere.carriere }}</div>
              <div style="font-size: smaller" *ngIf="carriere.detail">{{ carriere.detail }}</div>
            </div>
          </ng-template>
        </p-dropdown>
        <div class="flex justify-end gap-2">
          <button severity="secondary" type="button" size="small" pButton pRipple icon="pi pi-times"
                  (click)="opCarriere.toggle($event)"></button>
          <button severity="success" type="button" size="small" pButton pRipple icon="pi pi-check"
                  (click)="createCarriere(opCarriere, $event)"></button>
        </div>
      </div>
    </p-overlayPanel>
  </div>
</p-fieldset>
