.carte-container {
  width: calc(100vw - 420px);
}
.carrieres {
  .p-inputnumber-input {
    width: 50px;
  }
}

.footer-separator {
  border-top: 1px solid #424b57;
  padding-top: 5px;
  margin: 5px -15px -10px;
}
