.region-panel {
  height: calc(100% - 15px);
  .p-panel-header {
    padding: 4px 0 0 0;
    border-bottom: none;
  }
  .p-panel-content {
    padding: 5px;
    height: 100%;
  }
  .p-toggleable-content {
    height: 100%;
  }
}

.unselected-name {
  background: #707F80;
  cursor: pointer;
  &:hover {
    background: #92a194;
  }
}

.selected-name {
  background: #86EFAC;
  cursor: pointer;
}

.unselected-region {
  background: rgba(114, 132, 104, 0.32);
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  &:hover {
    background: #92a194;
  }
}

.selected-region {
  cursor: pointer;
  //color: rgba(255, 255, 255, 0.87);
  background: #9AA37A;
}
.region-tag {
  .p-tag-value {
    font-size: 15px;
    line-height: normal;
  }
}
