#dice-box {
  position: relative;
}

#dice-box canvas {
  position: fixed;
  margin-top: 55px;
  width: 100%;
  height: calc(100% - 55px);
  z-index: 1000;
  opacity: 1;
  &.hide {
    opacity: 0;
    z-index: -1000;
  }
}

.diceResults .results {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 2rem;
  pointer-events: all;
}
.diceResults .hidden {
  pointer-events: none;
}
.diceResults .crit-success {
  color: var(--success-color);
}
.diceResults .crit-failure {
  color: var(--error-color)
}
.diceResults .die-dropped {
  text-decoration: line-through;
  opacity: .4;
}
.diceResults .die-rerolled {
  text-decoration: line-through;
  opacity: .4;
}
.diceResults .die-exploded {
  color: var(--success-color);
}
.diceResults .die-exploded::after {
  content: '!';
  display: block;
  color: var(--success-color);
}
.diceResults .success,
.diceResults .failure,
.diceResults .null
{
  position: relative;
  top: 6px;
  width: 32px;
  height: 32px;
}
.diceResults .success {
  fill:var(--success-color);
  filter: invert(45%) sepia(42%) saturate(365%) hue-rotate(95deg) brightness(97%) contrast(95%);
}
.diceResults .failure {
  fill:var(--error-color);
  filter: invert(18%) sepia(78%) saturate(2230%) hue-rotate(343deg) brightness(101%) contrast(86%);
}
.diceResults .null {
  fill: var(--info-color);
  filter: invert(32%) sepia(75%) saturate(299%) hue-rotate(175deg) brightness(86%) contrast(92%);
}
.diceResults .crit-success .success{
  border: 3px solid var(--success-color);
  border-radius: 50%;
  top: 6px;
}
.diceResults .crit-failure .failure{
  border: 3px solid var(--error-color);
  border-radius: 50%;
  top: 6px;
}
