.p-inputnumber-input,
.p-inputtext.p-inputtext-sm {
  padding: 5px;
  font-size: 0.9rem;
}

.p-inputnumber-input {
  width: 90px;
}

.p-checkbox {
  width: 18px;
  height: 18px;
}

.p-checkbox .p-checkbox-box {
  width: 18px;
  height: 18px;
}

.p-dropdown-label.p-inputtext {
  padding: 6px;
  font-size: 0.9rem;
}


.p-checkbox-label {
  cursor: pointer;
}
