.p-datatable-wrapper {
  overflow-x: hidden;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem;
}
.p-datatable .p-datatable-thead > tr > th {
  background: #0f1010;
}
.p-datatable .p-datatable-header {
  background: #0f1010;
  padding: 0.5rem 0.5rem;
}
