<div class="flex flex-col gap-2">
  @for (langue of langues(); track langue.id; let index = $index) {
    <dw-collapsible-row
      [expanded]="isExpanded(langue)"
      [ariaLabel]="'Langue : ' + langue.label"
      (toggled)="toggle(langue)"
    >
      <ng-container row-summary>
        <span class="dw-entry-label shrink-0">{{ langue.label }}</span>
        @if (langue.estLemurienne) {
          <span class="dw-entry-stat ml-auto min-w-0 truncate">Lémurienne</span>
        }
      </ng-container>

      <ng-container row-body>
        @if (langue.description) {
          <p class="dw-entry-meta m-0">{{ langue.description }}</p>
        }

        <button mat-button type="button" class="dw-entry-delete-btn" (click)="removed.emit(index)">
          <mat-icon>delete</mat-icon> Supprimer
        </button>
      </ng-container>
    </dw-collapsible-row>
  } @empty {
    <p class="dw-entry-empty m-0">
      Ajoute les langues que le héros peut parler ou comprendre.
    </p>
  }
</div>
