<div class="hero-picture flex flex-col gap-2 p-2">
  <div class="header-file w-full">
    <p-toolbar class="w-full">
      <div class="p-toolbar-group-start gap-2">
        <p-button (click)="file.click()" icon="pi pi-upload" size="small" label="Importer une image"></p-button>
      </div>
      <div class="p-toolbar-group-end gap-2" *ngIf="imageChangedEvent">
        <p-button icon="pi pi-search-plus" size="small" (click)="zoomIn()" pTooltip="Agrandir"></p-button>
        <p-button icon="pi pi-search-minus" size="small" (click)="zoomOut()" pTooltip="Reduire"></p-button>
        <p-button icon="pi pi-sync" size="small" (click)="resetImage()" pTooltip="Réinitialiser l'image"></p-button>
      </div>
    </p-toolbar>
    <input id="importFile" style="display: none" type="file" #file (change)="fileChangeEvent($event)"/>
  </div>
  <p-panel styleClass="picture-panel">
    <div class="body-file" *ngIf="imageChangedEvent">
      <div style="width: 500px; border: 1px solid black; overflow: hidden">
        <image-cropper
          [transform]="transform"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          [backgroundColor]="'#424242'"
          format="png"
          output="base64"
          [resizeToWidth]="256"
          [cropperMinWidth]="128"
          (loadImageFailed)="loadImageFailed()"
          (imageCropped)="imageCropped($event)"></image-cropper>
      </div>
      <div style="padding-left: 20px">
        <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid white' : 'none'"/>
      </div>
    </div>
    <div class="picture-no-image text-3xl flex h-full items-center justify-center" *ngIf="!imageChangedEvent">
      Importer une image en cliquant sur le bouton ci-dessus
    </div>
  </p-panel>

  <div class="flex justify-end gap-2 pt-3">
    <p-button icon="pi pi-upload" size="small" label="Quitter" severity="secondary" (click)="quit()"></p-button>
    <p-button [disabled]="!imageChangedEvent" icon="pi pi-upload" size="small" label="Valider" severity="success" (click)="validate()"></p-button>
  </div>
</div>
