<div class="hs-blocks" [style.--hs-cols]="blocksTemplate()" [formGroup]="form()">
  @for (group of groups(); track group.key) {
    <div class="hs-block hs-block--{{ group.key }}">
      <div class="hs-block-head">{{ group.label }}</div>
      <div class="hs-block-cells hs-block-cells--{{ group.columns }}">
        @for (cell of group.cells; track cell.control) {
          <div class="hs-cell" [class.hs-cell--key]="cell.highlight">
            <span class="hs-lbl">{{ cell.label }}</span>
            <dw-value-stepper [formControlName]="cell.control" [ariaLabel]="cell.label" />
          </div>
        }
      </div>
    </div>
  }
</div>
