<form [formGroup]="questForm" autocomplete="off">
@if ((quest$ | async) && quest()) {
  <div class="page-container">
  <app-header [legend]="quest()?.titre" (legendClicked)="titrePanel.toggle($event)">
    <button pButton label="Retour" icon="pi pi-arrow-left" severity="secondary" size="small" routerLink="/bol/quest"></button>
  </app-header>
  <div class="flex p-4">
    <div>
        <div class="text-4xl">Héros</div>
        <div class="flex flex-col gap-2">
          <bol-heros-card *ngFor="let hero of heros()"  [heroId]="hero.protagonist_id"></bol-heros-card>
        </div>
    </div>
  </div>
</div>
}
<p-overlayPanel #titrePanel (onShow)="titreCtrl.setValue(quest()?.titre ?? null)" (onHide)="titreCtrl.setValue(quest()?.titre ?? null)">
    <div class="flex gap-4 flex-col">
      <div class="flex flex-col gap-1 w-full justify-end relative">
        <label for="bol-titre">Titre</label>
        <input formControlName="titre" pInputText id="bol-titre" name="bol-titre" class="p-inputtext-sm" autocomplete="off"/>
        <small *ngIf="onError('titre')" class="dw_error">Minimum 3 caractères</small>
      </div>
    </div>
    <div class="flex pt-4 justify-end gap-2">
      <p-button label="Quitter" icon="pi pi-times"
                severity="secondary" size="small"
                (click)="titrePanel.toggle(false)"></p-button>
      <p-button label="Modifier" icon="pi pi-check" size="small" severity="success" (click)="updateQuest()"
                [disabled]="questForm.invalid"></p-button>
    </div>
</p-overlayPanel>
</form>
