@if ((quest$ | async) && quest()) {
<div class="page-container">
  <app-header [legend]="quest()?.titre" (legendClicked)="op.toggle($event)">
    <button pButton label="Retour" icon="pi pi-arrow-left" severity="secondary" size="small" routerLink="/bol/quest"></button>
  </app-header>
  <div class="flex">
    <div class="flex flex-auto">
    </div>
  </div>
</div>
}
<p-overlayPanel #op>
  <form [formGroup]="questForm" autocomplete="off" (submit)="updateQuest()">
    <div class="flex gap-4 flex-col">
      <div class="flex flex-col gap-1 w-full justify-end relative">
        <label for="titre">Titre</label>
        <input formControlName="titre" pInputText id="titre" class="p-inputtext-sm"/>
        <small *ngIf="onError('titre')" class="dw_error">Minimum 3 caractères</small>
      </div>
      <div class="flex flex-col gap-1 w-full justify-end relative">
        <label for="commentaire">Commentaire</label>
        <textarea formControlName="commentaire" rows="2" cols="30" pInputTextarea id="commentaire" class="p-inputtext-sm"></textarea>
        <small *ngIf="onError('commentaire')" class="dw_error">Minimum 3 caractères</small>
      </div>
    </div>
    <div class="flex pt-4 justify-end gap-2">
      <p-button label="Retour" icon="pi pi-times" severity="secondary" size="small"
                (click)="op.toggle($event)"></p-button>
      <p-button label="Créer" icon="pi pi-check" size="small" severity="success" (click)="updateQuest()"
                [disabled]="questForm.invalid"></p-button>
    </div>
  </form>
</p-overlayPanel>
