<div class="flex flex-col h-screen items-center gap-1 pt-10">
  <img src="assets/dw1.jpg" alt="" style="width: 400px; height: 302px;">
  @if (!success) {
    <div class="text-xl">Bienvenue sur Diceway</div>
    <div class="flex flex-col gap-4">
      <div class="text-sm">Votre compte est désormais actif et vous pouvez maintenant vous connecter</div>
      <div class="flex justify-end gap-4">
        <p-button [routerLink]="'/login'" label="Continuer" size="small"></p-button>
      </div>
    </div>
  }
  @if (success) {
    <div class="text-xl">Mot de passe modifié.</div>
    <div class="flex flex-col gap-4">
      <div class="text-sm">Votre mot de passe a été modifié avec succès, vous pouvez maintenant vous connecter</div>
      <div class="flex justify-end gap-4">
        <p-button [routerLink]="'/login'" label="Continuer" size="small"></p-button>
      </div>
    </div>
  }
</div>
