<div class="pnj-form flex gap-2 flex-col">
  <div class="dw-dialog-title">{{ config.data.header }}</div>
  <form [formGroup]="pnjForm" autocomplete="off" class="flex flex-col gap-1">
    <div class="flex gap-2">
      <!--- Left part --->
      <div>
        <p-fieldset legend="Général" class="w-fit">
          <div class="flex gap-2">
            <div class="hero-avatar cursor-pointer" (click)="picture()">
              <img style="width:100%"
                   [src]="avatarCtrl.value !== null ? avatarCtrl.value : '/assets/bol/empty-avatar.jpg'"
                   alt="avatar">
              <p class="hero-avatar__description">Modifier</p>
            </div>
            <div class="flex flex-col gap-5 pt-1">
              <p-floatlabel variant="over">
                <input pInputText id="nom" formControlName="nom" autocomplete="off" id="nom" pSize="small" [pAutoFocus]="true"/>
                <label for="joueur">Nom du personnage *</label>
              </p-floatlabel>

              <p-floatLabel variant="over">
                <p-select
                  id="region"
                  class="w-full"
                  optionLabel="type"
                  optionValue="value"
                  size="small"
                  [options]="type"
                  formControlName="type"></p-select>
                <label for="region">Type *</label>
              </p-floatLabel>
            </div>
            <div>
              <div class="flex flex-col pt-1">
                <p-floatlabel variant="over">
                <textarea pTextarea id="commentaire" formControlName="commentaire" rows="2" cols="30"
                          style="resize: none" class="h-full"></textarea>
                  <label for="commentaire">Commentaire</label>
                </p-floatlabel>
              </div>
            </div>
          </div>
        </p-fieldset>
        <div class="flex gap-2">
          <p-fieldset class="flex-auto" legend="Ressources">
            <div class="flex flex-col gap-5 pt-3">
              <div class="flex gap-1">
                <p-floatLabel variant="over">
                  <label for="vitalite">Vitalité</label>
                  <p-inputNumber class="dw-input-number" formControlName="vitalite" inputId="vitalite"
                                 maxFractionDigits="0" size="small"/>
                </p-floatLabel>

                <p-floatLabel variant="over">
                  <label for="vilenie">Vilénie</label>
                  <p-inputNumber class="dw-input-number" formControlName="vilenie" inputId="vilenie"
                                 maxFractionDigits="0" size="small"/>
                </p-floatLabel>

              </div>
              <div class="flex gap-1">
                <p-floatLabel variant="over">
                  <label for="pouvoir">Pouvoir</label>
                  <p-inputNumber class="dw-input-number" formControlName="pouvoir" inputId="pouvoir"
                                 maxFractionDigits="0"
                                 size="small"/>
                </p-floatLabel>
                <p-floatLabel variant="over">
                  <label for="foi">Foi</label>
                  <p-inputNumber class="dw-input-number" formControlName="foi" inputId="foi" maxFractionDigits="0"
                                 size="small"/>
                </p-floatLabel>
                <p-floatLabel variant="over">
                  <label for="creation">Création</label>
                  <p-inputNumber class="dw-input-number" formControlName="creation" inputId="creation"
                                 maxFractionDigits="0" size="small"/>
                </p-floatLabel>
              </div>
            </div>
          </p-fieldset>
          <p-fieldset class="flex-auto" legend="Attributs">
            <div class="flex gap-2 pt-3">
              <div class="flex flex-col gap-5">
                <p-floatLabel variant="over">
                  <label for="vigueur">Vigueur</label>
                  <p-inputNumber class="dw-input-number" formControlName="vigueur" inputId="vigueur"
                                 maxFractionDigits="0" size="small"/>
                </p-floatLabel>
                <p-floatLabel variant="over">
                  <label for="agilite">Agilité</label>
                  <p-inputNumber class="dw-input-number" formControlName="agilite" inputId="agilite"
                                 maxFractionDigits="0" size="small"/>
                </p-floatLabel>
              </div>
              <div class="flex flex-col gap-5">
                <p-floatLabel variant="over">
                  <label for="esprit">Esprit</label>
                  <p-inputNumber class="dw-input-number" formControlName="esprit" inputId="esprit"
                                 maxFractionDigits="0" size="small"/>
                </p-floatLabel>
                <p-floatLabel variant="over">
                  <label for="aura">Aura</label>
                  <p-inputNumber class="dw-input-number" formControlName="aura" inputId="aura" maxFractionDigits="0"
                                 size="small"/>
                </p-floatLabel>
              </div>
            </div>
          </p-fieldset>
          <p-fieldset class="flex-auto" legend="Combat">
            <div class="flex gap-2 pt-3">
              <div class="flex flex-col gap-5">
                <p-floatLabel variant="over">
                  <label for="initiative">Initiative</label>
                  <p-inputNumber class="dw-input-number" formControlName="initiative" inputId="initiative"
                                 size="small"/>
                </p-floatLabel>
                <p-floatLabel variant="over">
                  <label for="melee">Mêlée</label>
                  <p-inputNumber class="dw-input-number" formControlName="melee" inputId="melee" size="small"/>
                </p-floatLabel>
              </div>
              <div class="flex flex-col gap-5">
                <p-floatLabel variant="over">
                  <label for="tir">Tir</label>
                  <p-inputNumber class="dw-input-number" formControlName="tir" inputId="tir" size="small"/>
                </p-floatLabel>
                <p-floatLabel variant="over">
                  <label for="defense">Défense</label>
                  <p-inputNumber class="dw-input-number" formControlName="defense" inputId="defense" size="small"/>
                </p-floatLabel>
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>
      <!--- Right part --->
      <div class="flex flex-col gap-2">
        <p-fieldset>
          <ng-template pTemplate="header">
            <div class="flex items-center gap-2">
              <div>Langues</div>
              <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une langue"
                       (click)="addItem('L', $event)"></app-btn>
            </div>
          </ng-template>
          @if (languesCtrl.value.length === 0) {
            <div class="text-xl text-gray-500">Vous pouvez choisir des
              langues
            </div>
          }
          <div class="flex flex-col gap-2">
            @for (item of selectedLangues(); track item.id) {
              <div class="flex gap-2 items-center justify-between">
                <div class="flex gap-2 items-center" style="width: 250px">
                  <div class="whitespace-nowrap">{{ item.langue }}</div>
                </div>
                <app-btn (click)="removeItem(item.id, langues)"></app-btn>
              </div>
            }
          </div>
        </p-fieldset>
        <p-fieldset>
          <ng-template pTemplate="header">
            <div class="flex items-center gap-2">
              <div>Carrières</div>
              <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une carrière"
                       (click)="addItem('C', $event)"></app-btn>
            </div>
          </ng-template>
          <div>
            @if (carrieresCtrl.value.length === 0) {
              <div class="text-xl text-gray-500">Vous pouvez choisir des
                carrières
              </div>
            }
            <div class="flex flex-col gap-2" formArrayName="carrieres">
              @for (carriere of carrieres.controls; track carriere.value.id; let i = $index) {
                <div class="flex flex-col">
                  <div class="flex flex-col">
                    <div [formGroupName]="i" class="flex gap-2 items-center">
                      <div style="width: 100px">{{ carriereFromId(carriere.value.id) }}</div>
                      <p-inputNumber class="dw-input-number" formControlName="value" inputId="defense" maxFractionDigits="0" size="small"/>
                      <app-btn (click)="removeItem(carriere.value.id, carrieres)"></app-btn>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>
    <div class="flex gap-2">
      <p-fieldset class="flex-auto">
        <ng-template pTemplate="header">
          <div class="flex items-center gap-2">
            <div>Armes</div>
            <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une arme"
                     (click)="addItem('A', $event)"></app-btn>
          </div>
        </ng-template>

        @if (armesCtrl.value.length === 0) {
          <div class="text-xl text-gray-500">Vous pouvez choisir des armes</div>
        }
        <div class="flex flex-col gap-2">
          @for (item of selectedArmes(); track item.id) {
            <div class="flex gap-2 items-center justify-between">
              <div class="flex gap-2 items-center" style="width: 250px">
                <div class="whitespace-nowrap">{{ item.arme }}</div>
                <div class="text-gray-400 font-bold">{{ item.degats }}</div>
              </div>
              <app-btn (click)="removeItem(item.id, armes)"></app-btn>
            </div>
          }
        </div>
      </p-fieldset>
      <p-fieldset class="flex-auto">
        <ng-template pTemplate="header">
          <div class="flex items-center gap-2">
            <div>Armures</div>
            <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une armure"
                     (click)="addItem('D', $event)"></app-btn>
          </div>
        </ng-template>
        @if (armuresCtrl.value.length === 0) {
          <div class="text-xl text-gray-500">Vous pouvez choisir des armures</div>
        }
        <div class="flex flex-col gap-2">
          @for (item of selectedArmures(); track item.id) {
            <div class="flex gap-2 items-center justify-between">
              <div class="flex gap-2 items-center" style="width: 250px">
                <div class="whitespace-nowrap">{{ item.armure }}</div>
                <div class="text-gray-400 font-bold bol-ellipsis-80" [pTooltip]="item.protection">{{ item.protection }}
                </div>
              </div>
              <app-btn (click)="removeItem(item.id, armures)"></app-btn>
            </div>
          }
        </div>
      </p-fieldset>
      <p-fieldset class="flex-auto">
        <ng-template pTemplate="header">
          <div class="flex items-center gap-2">
            <div>Avantages & Désavantages</div>
            <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une avantage"
                     (click)="addItem('TA', $event)"></app-btn>
            <app-btn type="warn" icon="plus-circle" pTooltip="Ajouter une désavantage"
                     (click)="addItem('TD', $event)"></app-btn>
          </div>
        </ng-template>
        @if (traitsCtrl.value.length === 0) {
          <div class="text-xl text-gray-500">Vous pouvez choisir des traits</div>
        }
        <div class="flex flex-col gap-2" formArrayName="traits">
          @for (trait of traits.controls; track trackByItem(trait.value); let i = $index) {
            <div [formGroupName]="i" class="flex gap-2 items-center justify-between">
              <div>
                @if (trait.value.type === 'D') {
                  <bol-heros-trait-row [desavantage]="desavantageFromId(trait.value.id)"></bol-heros-trait-row>
                } @else {
                  <bol-heros-trait-row [avantage]="avantageFromId(trait.value.id)"></bol-heros-trait-row>
                }
              </div>
              <app-btn (click)="removeTrait(trait.value, traits)"></app-btn>
            </div>
          }
        </div>
      </p-fieldset>
    </div>
  </form>
  <div class="flex justify-end gap-2 pt-2">
    <button pButton icon="pi pi-times" size="small" label="Quitter" severity="secondary"
            (click)="quit($event)"></button>
    <button pButton icon="pi pi-check" size="small" label="Valider" severity="success" [disabled]="pnjForm.invalid"
            (click)="submit($event)"></button>
  </div>
</div>

<p-popover #opPnj>
  <div class="flex flex-col gap-4">
    <div>{{ itemTitle() }}</div>

    <div class="flex flex-col gap-2">
      <p-select [style]="{ width: '250px' }"
                [options]="unselectedItems()"
                [(ngModel)]="selectedItem"
                [ngModelOptions]="{standalone: true}"
                [showClear]="true"
                [filter]="true"
                [filterBy]="searchFilter()"
                placeholder="Faites votre sélection">

        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            @if (currentField() === 'armes') {
              <div>{{ selectedOption.arme }}</div>
            }
            @if (currentField() === 'armures') {
              <div>{{ selectedOption.armure }}</div>
            }
            @if (currentField() === 'carrieres') {
              <div>{{ selectedOption.carriere }}</div>
            }
            @if (currentField() === 'avantages') {
              <div>{{ selectedOption.avantage }}</div>
            }
            @if (currentField() === 'desavantages') {
              <div>{{ selectedOption.desavantage }}</div>
            }
            @if (currentField() === 'langues') {
              <div>{{ selectedOption.langue }}</div>
            }
          </div>
        </ng-template>

        <ng-template let-item pTemplate="item">
          <div class="flex flex-col gap-2">
            @if (currentField() === 'armes') {
              <div>{{ item.arme }}</div>
              <div class="text-gray-400">{{ item.degats }}</div>
            }
            @if (currentField() === 'armures') {
              <div>{{ item.armure }}</div>
              <div class="text-gray-400"> {{ item.protection }}</div>
            }
            @if (currentField() === 'carrieres') {
              <div>{{ item.carriere }}</div>
              <div class="text-gray-400"> {{ item.detail }}</div>
            }
            @if (currentField() === 'avantages') {
              <div>{{ item.avantage }}</div>
            }
            @if (currentField() === 'desavantages') {
              <div>{{ item.desavantage }}</div>
            }
            @if (currentField() === 'langues') {
              <div>{{ item.langue }}</div>
            }
          </div>
        </ng-template>
      </p-select>
    </div>


    <div class="flex justify-end gap-2">
      <button severity="secondary" type="button" size="small" pButton pRipple icon="pi pi-times"
              (click)="opPnj.toggle($event)"></button>
      <button severity="success" type="button" size="small" pButton pRipple icon="pi pi-check"
              (click)="createItem(opPnj, $event)"
              [disabled]="!selectedItem()"></button>
    </div>
  </div>
</p-popover>
