<div class="flex h-full items-center w-full justify-center">
    <p-card header="S'identifier">
        <p-inputGroup>
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Adresse mail" />
        </p-inputGroup>

        <p-inputGroup>
            <p-inputGroupAddon>
                <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Mot de passe" />
        </p-inputGroup>

    </p-card>
</div>