:host {
  height: 100%;
}

.login {
  &__google {
    img {
      height: 25px;
      margin: 0 10px 0 0;
    }
  }
}
.dw_login {
  height: 300px;
}

.login_divider {
  display: flex;
  flex-direction: column; // empile verticalement
  align-items: center;    // centre horizontalement
  height: 100%;           // prend toute la hauteur disponible

  div {
    width: 2px;
    background-color: lightgray;
    color: lightgray;
    &:first-of-type,
    &:last-of-type {
      flex: 1; // occupe tout l’espace restant
    }

    &:nth-of-type(2) {
      flex: 0;              // ne grandit pas
      width: auto;          // largeur automatique pour le texte
      background: none;     // pas de fond gris sur le texte
      color: lightgray;       // exemple : texte en blanc
      padding: 10px 0;      // espace autour du texte
    }
  }
}
