<div class="flex flex-col h-screen items-center justify-center gap-5">
    <div class="dw_banner" [inlineSVG]="'/frontend/assets/banner.svg'"></div>
    <p-card class="relative" header="S'identifier">
        <form [formGroup]="loginForm" class="flex flex-col gap-4">
            <p-inputGroup class="relative">
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input formControlName="email" pInputText placeholder="Adresse mail" autocomplete="username" />
                <small *ngIf="onError('email')" class="dw_error">Adresse mail non valide</small>
            </p-inputGroup>

            <p-inputGroup class="relative">
                <p-inputGroupAddon>
                    <i class="pi pi-lock"></i>
                </p-inputGroupAddon>
                <input formControlName="password" type="password" pInputText placeholder="Mot de passe"
                    autocomplete="current-password" />
                <small *ngIf="onError('password')" class="dw_error">Minimum 8 caractères</small>
            </p-inputGroup>
            <div *ngIf="messages.length > 0">
                <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
            </div>
            <div class="flex justify-between">
                <p-button [routerLink]="'/forgotten'" label="Mot de passe oublié" size="small" [text]="true"
                    severity="secondary" [disabled]="pending"></p-button>
                <p-button label="Connexion" size="small" (click)="login()" [disabled]="pending"
                    type="submit"></p-button>
            </div>
            <div *ngIf="!pending" class="flex flex-col items-center pt-4 text-s">
                <div>Vous n'avez pas de compte ?</div>
                <p-button [routerLink]="'/register'" label="Inscrivez-vous" size="small" [text]="true"
                    severity="secondary"></p-button>
            </div>
        </form>
        <div *ngIf="!pending" class="flex justify-center">
            <a class="p-button p-button-secondary" size="small" href="/api/auth/google" style="text-decoration: none;">
                <div class="flex login__google items-center">
                    <img src="/frontend/assets/socialite/google.svg">
                    <div>Continuer avec Google</div>
                </div>
            </a>
        </div>

        <p-progressBar *ngIf="pending" class="dw_progress" mode="indeterminate"
            [style]="{ height: '6px' }"></p-progressBar>
    </p-card>
</div>
