<div class="flex flex-col h-full p-4">
  <!------------------------->
  <!--- Header de la page --->
  <!------------------------->
  <div class="flex justify-between items-center">
    <div class="text-3xl">Création d'un héros</div>
  </div>

  <!----------------------->
  <!--- Body de la page --->
  <!----------------------->
  <p-scrollPanel styleClass="flex-auto" [style]="{height: 'calc(100vh - 155px)'}">
    <form (ngSubmit)="submit()" [formGroup]="herosForm" autocomplete="off">
      <div class="flex flex-col">
          <!--- Nom du joueur --->
          <div class="flex flex-col gap-1 w-fit justify-end">
            <label for="joueur">Nom du joueur</label>
            <input formControlName="joueur" pInputText id="joueur" class="p-inputtext-sm"/>
          </div>

          <div class="flex gap-2">
            <div>
              <div class="flex gap-2">
                <bol-heros-origines [heroId]="heroId()" formControlName="origines"></bol-heros-origines>
                <bol-heros-ressources formControlName="ressources"></bol-heros-ressources>
              </div>
              <bol-heros-traits formControlName="traits"></bol-heros-traits>
              <bol-heros-carrieres formControlName="carrieres" (desavantageCreated)="addCarriereDesavantage($event)"></bol-heros-carrieres>
            </div>
            <div>
              <div class="flex gap-2">
                <bol-heros-attributs formControlName="attributs"></bol-heros-attributs>
                <bol-heros-combat formControlName="combat"></bol-heros-combat>
              </div>
              <div>
                <bol-heros-armes formControlName="armes"></bol-heros-armes>
                <bol-heros-armures formControlName="armures"></bol-heros-armures>
              </div>
            </div>

          </div>
      </div>


      <div class="flex gap-4">
        <div>

        </div>




        <div class="flex flex-col gap-2">

          <div class="flex gap-2">
            <div class="flex flex-col flex-auto gap-2">

            </div>
            <div class="flex flex-col flex-auto gap-2 ">

            </div>
          </div>
        </div>
      </div>
    </form>
  </p-scrollPanel>

  <!------------------------->
  <!--- Footer de la page --->
  <!------------------------->
  <div class="flex pt-4 justify-end">
    <!--- Bouton Quitter et Sauvegarde --->
    <div class="flex gap-2">
      <button pButton label="Retour" icon="pi pi-times" severity="secondary" size="small" routerLink="/bol"></button>
      <button pButton (click)="submit()" [disabled]="herosForm.invalid" label="Enregistrer" icon="pi pi-check"
              size="small" severity="success"></button>
    </div>
  </div>
</div>

<!--------------------------------->
<!--- Container de confirmation --->
<!--------------------------------->
<p-confirmPopup/>
