<div class="page-container">
  <app-header legend="Création d'un héros">
    <button pButton label="Retour" icon="pi pi-times" severity="secondary" size="small" routerLink="/bol/heros"></button>
    <button pButton (click)="submit()" [disabled]="herosForm.invalid" label="Enregistrer" icon="pi pi-save"
            size="small" severity="warning"></button>
    <button pButton [disabled]="herosForm.invalid" label="Activer le personnage" icon="pi pi-check"
            size="small" severity="success"></button>

  </app-header>
  <div class="flex flex-col p-4">
    <!----------------------->
    <!--- Body de la page --->
    <!----------------------->
    <p-scrollPanel styleClass="flex-auto" [style]="{height: 'calc(100vh - 135px)'}">
      <form (ngSubmit)="submit()" [formGroup]="herosForm" autocomplete="off">
        <div class="flex flex-col">
          <!--- Nom du joueur --->
          <div class="flex flex-col gap-1 w-fit justify-end">
            <label for="joueur">Nom du joueur</label>
            <input formControlName="joueur" pInputText id="joueur" class="p-inputtext-sm"/>
          </div>

          <div class="flex gap-2">
            <div>
              <div class="flex gap-2">
                <bol-heros-origines [heroId]="heroId()" formControlName="origines"></bol-heros-origines>
                <bol-heros-ressources formControlName="ressources"></bol-heros-ressources>
              </div>
              <bol-heros-traits formControlName="traits"></bol-heros-traits>
              <bol-heros-carrieres formControlName="carrieres" (desavantageCreated)="addCarriereDesavantage($event)"></bol-heros-carrieres>
            </div>
            <div>
              <div class="flex flex-col">
                <bol-heros-attributs formControlName="attributs"></bol-heros-attributs>
                <bol-heros-combat formControlName="combat"></bol-heros-combat>
                <bol-heros-langues formControlName="langues"></bol-heros-langues>
              </div>
            </div>
            <div>
              <bol-heros-armes formControlName="armes"></bol-heros-armes>
              <bol-heros-armures formControlName="armures"></bol-heros-armures>
              <p-fieldset legend="Commentaire">
                <textarea rows="4"  style="width: 100%" pInputTextarea formControlName="commentaire"></textarea>
              </p-fieldset>
            </div>
          </div>
        </div>
      </form>
    </p-scrollPanel>
  </div>
</div>


<!--------------------------------->
<!--- Container de confirmation --->
<!--------------------------------->
<p-confirmPopup/>
