<div class="flex p-4 gap-4 justify-center">
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex justify-between p-4 items-center">
        <div class="text-3xl">Création d'un héros</div>
      </div>
    </ng-template>
    <form (ngSubmit)="submit()" [formGroup]="herosForm" autocomplete="off">
      <div class="flex gap-4">
        <div class="flex flex-col gap-2">
          <!-------------->
          <!--- player --->
          <!-------------->
          <div class="flex gap-2 justify-between">
            <div class="flex flex-col gap-1 w-fit justify-end">
              <label for="joueur">Nom du joueur</label>
              <input formControlName="joueur" pInputText id="joueur" class="p-inputtext-sm"/>
            </div>
          </div>
          <!----------------->
          <!--- Hero attr --->
          <!----------------->
          <div class="flex gap-2 flex-wrap">
            <!-------------->
            <!-- Origines -->
            <!-------------->
            <p-fieldset legend="Origines">
              <div class="flex gap-2">
                <div class="hero-avatar cursor-pointer" (click)="picture()">
                  <img style="width:100%"
                       [src]="avatarCtrl.value !== null ? avatarCtrl.value : '/frontend/assets/bol/empty-avatar.jpg'"
                       alt="avatar">
                  <p class="hero-avatar__description">Modifier</p>
                </div>

                <div class="flex flex-col gap-1 flex-auto">
                  <div class="flex flex-col gap-1">
                    <label for="nom">  <i class="pi pi-info-circle" pTooltip="Vous trouverez des exemples en choissisant votre terre natale."></i> Nom du héro</label>
                    <input formControlName="nom" pInputText id="nom" class="p-inputtext-sm"/>
                  </div>
                  <div class="flex flex-col gap-1 relative">
                    <label>Région</label>
                    <input formControlName="region" pInputText class="p-inputtext-sm" autocomplete="new" tabindex="-1"/>
                    <div class="input-overlay" style="" (click)="region()">
                      <div><i class="hide-region icon-button pi pi-times" (click)="clearRegion($event)"></i></div>
                    </div>
                  </div>
                </div>
              </div>

            </p-fieldset>
            <!--------------->
            <!-- Attributs -->
            <!--------------->
            <p-fieldset>
              <ng-template pTemplate="header">
                <div class="flex items-center gap-2">
                  <div class="cursor-pointer" (click)="attributInfos.toggle($event)">
                    <i *ngIf="attributErrors.length === 0" class="pi pi-info-circle"></i>
                    <div *ngIf="attributErrors.length > 0" style="color: var(--error-color)">
                      <i class="pi pi-exclamation-triangle"></i> ({{attributErrors.length}})
                    </div>
                  </div>
                  <div>Attributs</div>
                </div>
                <p-overlayPanel #attributInfos>
                  <div class="flex flex-col gap-2">
                    <bol-message type="attr"></bol-message>
                    <bol-message type="form-errors"
                                 *ngIf="attributErrors.length > 0"
                                 legend="Attributs invalides"
                                 [data]="attributErrors"></bol-message>
                  </div>
                </p-overlayPanel>
              </ng-template>

              <div class="flex gap-2">
                <div class="flex flex-col gap-1">
                  <div class="flex flex-col gap-1">
                    <label for="vigueur">Vigueur</label>
                    <p-inputNumber formControlName="vigueur" inputId="vigueur"/>
                  </div>
                  <div class="flex flex-col gap-1">
                    <label for="agilite">Agilité</label>
                    <p-inputNumber formControlName="agilite" inputId="agilite"/>
                  </div>
                </div>
                <div class="flex flex-col gap-1">
                  <div class="flex flex-col gap-1">
                    <label for="esprit">Esprit</label>
                    <p-inputNumber formControlName="esprit" inputId="esprit"/>
                  </div>
                  <div class="flex flex-col gap-1">
                    <label for="aura">Aura</label>
                    <p-inputNumber formControlName="aura" inputId="aura" maxFractionDigits="0"/>
                  </div>
                </div>
              </div>
            </p-fieldset>
            <!--------------->
            <!-- Aptitudes -->
            <!--------------->
            <p-fieldset>
              <ng-template pTemplate="header">
                <div class="flex items-center gap-2">
                  <div class="cursor-pointer" (click)="aptitudesInfos.toggle($event)">
                    <i *ngIf="aptitudeErrors.length === 0" class="pi pi-info-circle"></i>
                    <div *ngIf="aptitudeErrors.length > 0" style="color: var(--error-color)">
                      <i class="pi pi-exclamation-triangle"></i> ({{aptitudeErrors.length}})
                    </div>
                  </div>
                  <div>Combat</div>
                </div>
                <p-overlayPanel #aptitudesInfos>
                  <div class="flex flex-col gap-2">
                    <bol-message type="apt"></bol-message>
                    <bol-message type="form-errors"
                                 *ngIf="aptitudeErrors.length > 0"
                                 legend="Aptitudes invalides"
                                 [data]="aptitudeErrors"></bol-message>
                  </div>
                </p-overlayPanel>
              </ng-template>
              <div class="flex gap-2">
                <div class="flex flex-col gap-1">
                  <div class="flex flex-col gap-1">
                    <label for="initiative">Initiative</label>
                    <p-inputNumber formControlName="initiative" inputId="initiative"/>
                  </div>
                  <div class="flex flex-col gap-1">
                    <label for="tir">Tir</label>
                    <p-inputNumber formControlName="tir" inputId="tir"/>
                  </div>
                </div>
                <div class="flex flex-col gap-1">
                  <div class="flex flex-col gap-1">
                    <label for="melee">Melée</label>
                    <p-inputNumber formControlName="melee" inputId="melee"/>
                  </div>
                  <div class="flex flex-col gap-1">
                    <label for="defense">Défense</label>
                    <p-inputNumber formControlName="defense" inputId="defense" maxFractionDigits="0"/>
                  </div>
                </div>
              </div>
            </p-fieldset>

            <!-------------->
            <!--- Header --->
            <!-------------->
            <div class="dw-panel" style="margin-top: 13px;margin-bottom: 2px;padding-top: 12px;">
              <div class="flex gap-2 relative p-3">
                <div class="flex flex-col gap-1">
                  <label>Vitalité</label>
                  <input style="width: 50px; text-align: center" formControlName="vitalite" pInputText
                         class="p-inputtext-sm" variant="filled" tabindex="-1"/>
                </div>
                <div class="flex flex-col gap-1">
                  <label>Heroisme</label>
                  <input style="width: 50px; text-align: center" formControlName="heroisme" pInputText
                         class="p-inputtext-sm" variant="filled" tabindex="-1"/>
                </div>
                <div style="position: absolute; inset: 0;"></div>
              </div>
            </div>
          </div>
          <!--------------------------------->
          <!--- avantages et désavantages --->
          <!--------------------------------->
          <div class="flex gap-2">
            <p-fieldset class="flex-auto">
              <ng-template pTemplate="header">
                <div class="flex items-center gap-2">
                  <div class="cursor-pointer" (click)="traitInfos.toggle($event)">
                    <i *ngIf="aptitudeErrors.length === 0" class="pi pi-info-circle"></i>
                  </div>
                  <div>Avantages & Désavantages</div>
                </div>
                <p-overlayPanel #traitInfos>
                  <div class="flex flex-col gap-2">
                    <bol-message type="traits"></bol-message>
                  </div>
                </p-overlayPanel>
              </ng-template>
              <div>
                <div class="flex flex-col gap-2">
                  <app-trait-row *ngFor="let lavg of avantages" [avantage]="lavg"></app-trait-row>
                  <app-trait-row *ngFor="let ldes of desavantages" [desavantage]="ldes"></app-trait-row>
                </div>

                <div class="flex justify-end gap-2" *ngIf="regionCtrl.value !== null">
                  <p-button (click)="openTraits()" label="Gérer les avantages" size="small" [link]="true"/>
                </div>

              </div>
            </p-fieldset>

            <p-fieldset class="flex-auto">
              <ng-template pTemplate="header">
                <div class="flex items-center gap-2">
                  <div class="cursor-pointer">
                    <i *ngIf="aptitudeErrors.length === 0" class="pi pi-info-circle"></i>
                  </div>
                  <div>Carrières</div>
                </div>
              </ng-template>
            </p-fieldset>
          </div>
        </div>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="flex justify-between">
        <div>
          <p-button *ngIf="creationWarns.length > 0" (click)="incompleteProfile.toggle($event)" severity="warning"
                    [badge]="'' + creationWarns.length"
                    badgeClass="p-badge-contrast"
                    size="small" label="Profil imcomplet"
                    icon="pi pi-exclamation-triangle"></p-button>
          <p-overlayPanel #incompleteProfile>
            <p-messages severity="warn" *ngIf="creationWarns.length > 0">
              <ng-template pTemplate>
                <div class="info_icon_small" inlineSVG="/frontend/assets/sword.svg"></div>
                <div class="ml-4">
                  <ul style="margin: 0; padding-inline-start: 20px">
                    <li *ngFor="let warn of creationWarns">
                      {{ warn.warn }}
                    </li>
                  </ul>
                </div>
              </ng-template>
            </p-messages>
          </p-overlayPanel>
        </div>
        <div class="flex gap-2">
          <p-button label="Retour" icon="pi pi-times" severity="secondary" size="small"
                    routerLink="/bol"></p-button>
          <p-button (click)="submit()" [disabled]="herosForm.invalid" label="Enregistrer" icon="pi pi-check" size="small"
                    severity="success"></p-button>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
