<div class="region-container flex gap-2 flex-col">

  <form [formGroup]="herosForm" autocomplete="off" class="flex flex-col gap-1">
    <div class="flex gap-2">
      <!--- Left part --->
      <div>
        <p-fieldset legend="Général" class="w-fit">
          <div class="flex gap-2">
            <div class="hero-avatar cursor-pointer" (click)="picture()">
              <img style="width:100%"
                   [src]="avatarCtrl.value !== null ? avatarCtrl.value : '/frontend/assets/bol/empty-avatar.jpg'"
                   alt="avatar">
              <p class="hero-avatar__description">Modifier</p>
            </div>
            <div class="flex flex-col gap-1">
              <!--- Nom du joueur --->
              <div class="flex flex-col gap-1 w-fit justify-end">
                <label for="joueur">Nom du joueur *</label>
                <input formControlName="joueur" pInputText id="joueur" class="p-inputtext-sm"/>
              </div>
              <div class="flex flex-col gap-1 w-fit justify-end">
                <label for="nom">Nom du personnage *</label>
                <input formControlName="nom" pInputText id="nom" class="p-inputtext-sm"/>
              </div>
              <div class="flex flex-col gap-1 w-fit justify-end">
                <label for="commentaire">Commentaire</label>
                <textarea id="commentaire" rows="2" cols="30" pInputTextarea formControlName="commentaire"></textarea>
              </div>
            </div>
            <div>
              <div class="flex flex-col gap-1 w-fit justify-end">
                <label for="region">Région *</label>
                <p-dropdown
                  class="p-inputtext-sm"
                  optionLabel="region"
                  optionValue="id"
                  [filter]="true"
                  filterBy="region"
                  [options]="regionList()"
                  formControlName="region_id"
                  placeholder="Selectionner une region"></p-dropdown>
              </div>
              <div>
                <p-fieldset>
                  <ng-template pTemplate="header">
                    <div class="flex items-center gap-2">
                      <div>Langues</div>
                      <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une langue"
                               (click)="addItem('L', $event)"></app-btn>
                    </div>
                  </ng-template>
                  <div *ngIf="languesCtrl.value?.length === 0" class="text-xl text-gray-500">Vous pouvez choisir des
                    langues
                  </div>
                  <div class="flex flex-col gap-2">
                    <div *ngFor="let item of selectedLangues()" class="flex gap-2 items-center justify-between">
                      <div class="flex gap-2 items-center" style="width: 250px">
                        <div class="whitespace-nowrap">{{ item.langue }}</div>
                      </div>
                      <app-btn (click)="removeItem(item.id, langues)"></app-btn>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </div>
          </div>
        </p-fieldset>
        <div class="flex gap-2">
          <p-fieldset class="flex-auto" legend="Ressources">
            <div class="flex flex-col gap-1">
              <div class="flex gap-1">
                <div class="flex flex-col gap-1">
                  <label for="vitalite">Vitalité</label>
                  <p-inputNumber formControlName="vitalite" inputId="vitalite" maxFractionDigits="0"/>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="heroisme">Héroisme</label>
                  <p-inputNumber formControlName="heroisme" inputId="heroisme" maxFractionDigits="0"/>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="experience">Expérience</label>
                  <p-inputNumber formControlName="experience" inputId="experience" maxFractionDigits="0"/>
                </div>
              </div>
              <div class="flex gap-1">
                <div class="flex flex-col gap-1">
                  <label for="pouvoir">Pouvoir</label>
                  <p-inputNumber formControlName="pouvoir" inputId="pouvoir" maxFractionDigits="0"/>
                </div>

                <div class="flex flex-col gap-1">
                  <label for="foi">Foi</label>
                  <p-inputNumber formControlName="foi" inputId="foi" maxFractionDigits="0"/>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="creation">Création</label>
                  <p-inputNumber formControlName="creation" inputId="creation" maxFractionDigits="0"/>
                </div>

              </div>
            </div>
          </p-fieldset>
          <p-fieldset class="flex-auto" legend="Attributs">
            <div class="flex gap-2">
              <div class="flex flex-col gap-1">
                <div class="flex flex-col gap-1">
                  <label for="vigueur">Vigueur</label>
                  <p-inputNumber formControlName="vigueur" inputId="vigueur" maxFractionDigits="0"/>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="agilite">Agilité</label>
                  <p-inputNumber formControlName="agilite" inputId="agilite" maxFractionDigits="0"/>
                </div>
              </div>
              <div class="flex flex-col gap-1">
                <div class="flex flex-col gap-1">
                  <label for="esprit">Esprit</label>
                  <p-inputNumber formControlName="esprit" inputId="esprit" maxFractionDigits="0"/>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="aura">Aura</label>
                  <p-inputNumber formControlName="aura" inputId="aura" maxFractionDigits="0"/>
                </div>
              </div>
            </div>
          </p-fieldset>
          <p-fieldset class="flex-auto" legend="Combat">
            <div class="flex gap-2">
              <div class="flex flex-col gap-1">
                <div class="flex flex-col gap-1">
                  <label for="initiative">Initiative</label>
                  <p-inputNumber formControlName="initiative" inputId="initiative"/>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="melee">Mêlée</label>
                  <p-inputNumber formControlName="melee" inputId="melee"/>
                </div>
              </div>
              <div class="flex flex-col gap-1">
                <div class="flex flex-col gap-1">
                  <label for="tir">Tir</label>
                  <p-inputNumber formControlName="tir" inputId="tir"/>
                </div>
                <div class="flex flex-col gap-1">
                  <label for="defense">Défense</label>
                  <p-inputNumber formControlName="defense" inputId="defense"/>
                </div>
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>
      <!--- Right part --->
      <div class="flex flex-col gap-2">
        <p-fieldset>
          <ng-template pTemplate="header">
            <div class="flex items-center gap-2">
              <div>Avantages & Désavantages</div>
              <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une avantage"
                       (click)="addItem('TA', $event)"></app-btn>
              <app-btn type="warn" icon="plus-circle" pTooltip="Ajouter une désavantage"
                       (click)="addItem('TD', $event)"></app-btn>
            </div>
          </ng-template>
          <div *ngIf="traitsCtrl.value?.length === 0" class="text-xl text-gray-500">Vous pouvez choisir des traits</div>
          <div class="flex flex-col gap-2" formArrayName="traits">
            <ng-container *ngFor="let trait of traits.controls; let i = index">
              <div [formGroupName]="i" class="flex gap-2 items-center justify-between">
                <div>
                  @if (trait.value.type === 'D') {
                    <bol-heros-trait-row [desavantage]="desavantageFromId(trait.value.id)"></bol-heros-trait-row>
                  } @else {
                    <bol-heros-trait-row [avantage]="avantageFromId(trait.value.id)"></bol-heros-trait-row>
                  }
                </div>
                <app-btn (click)="removeTrait(trait.value, traits)"></app-btn>
              </div>
            </ng-container>
          </div>
        </p-fieldset>
        <p-fieldset>
          <ng-template pTemplate="header">
            <div class="flex items-center gap-2">
              <div>Carrières</div>
              <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une carrière"
                       (click)="addItem('C', $event)"></app-btn>
            </div>
          </ng-template>
          <div style="min-height: 72px;">
            <div *ngIf="carrieresCtrl.value?.length === 0" class="text-xl text-gray-500">Vous pouvez choisir des
              carrières
            </div>
            <div formArrayName="carrieres">
              <div class="flex flex-col" *ngFor="let carriere of carrieres.controls; let i = index">
                <div class="flex flex-col">
                  <div [formGroupName]="i" class="flex gap-2 items-center">
                    <div style="width: 100px">{{ carriereFromId(carriere.value.id) }}</div>
                    <p-inputNumber formControlName="value" inputId="defense" maxFractionDigits="0"/>
                    <app-btn (click)="removeItem(carriere.value.id, carrieres)"></app-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>
    <div class="flex gap-2">
      <p-fieldset class="flex-auto">
        <ng-template pTemplate="header">
          <div class="flex items-center gap-2">
            <div>Armes</div>
            <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une arme"
                     (click)="addItem('A', $event)"></app-btn>
          </div>
        </ng-template>

        <div *ngIf="armesCtrl.value?.length === 0" class="text-xl text-gray-500">Vous pouvez choisir des armes</div>
        <div class="flex flex-col gap-2">
          <div *ngFor="let item of selectedArmes()" class="flex gap-2 items-center justify-between">
            <div class="flex gap-2 items-center" style="width: 250px">
              <div class="whitespace-nowrap">{{ item.arme }}</div>
              <div class="text-gray-400 font-bold">{{ item.degats }}</div>
            </div>
            <app-btn (click)="removeItem(item.id, armes)"></app-btn>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset class="flex-auto">
        <ng-template pTemplate="header">
          <div class="flex items-center gap-2">
            <div>Armures</div>
            <app-btn type="info" icon="plus-circle" pTooltip="Ajouter une armure"
                     (click)="addItem('D', $event)"></app-btn>
          </div>
        </ng-template>
        <div *ngIf="armuresCtrl.value?.length === 0" class="text-xl text-gray-500">Vous pouvez choisir des armures</div>
        <div class="flex flex-col gap-2">
          <div *ngFor="let item of selectedArmures()" class="flex gap-2 items-center justify-between">
            <div class="flex gap-2 items-center" style="width: 250px">
              <div class="whitespace-nowrap">{{ item.armure }}</div>
              <div class="text-gray-400 font-bold bol-ellipsis-80" [pTooltip]="item.protection">{{ item.protection }}
              </div>
            </div>
            <app-btn (click)="removeItem(item.id, armures)"></app-btn>
          </div>
        </div>
      </p-fieldset>
    </div>
  </form>

  <div class="flex justify-end gap-2 pt-2">
    <button pButton icon="pi pi-times" size="small" label="Quitter" severity="secondary"
            (click)="quit($event)"></button>
    <button pButton icon="pi pi-save" size="small" label="Enregistrer" severity="success" [disabled]="herosForm.invalid"
            (click)="submit($event)"></button>
  </div>
</div>

<p-overlayPanel #opHeros>
  <div class="flex flex-col gap-4">
    <div>{{ itemTitle() }}</div>

    <div class="flex flex-col gap-2">
      <p-dropdown [style]="{ width: '250px' }"
                  [options]="unselectedItems()"
                  [(ngModel)]="selectedItem"
                  [ngModelOptions]="{standalone: true}"
                  [showClear]="true"
                  [filter]="true"
                  [filterBy]="searchFilter()"
                  placeholder="Faites votre sélection">

        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div *ngIf="currentField() === 'armes'">{{ selectedOption.arme }}</div>
            <div *ngIf="currentField() === 'armures'">{{ selectedOption.armure }}</div>
            <div *ngIf="currentField() === 'carrieres'">{{ selectedOption.carriere }}</div>
            <div *ngIf="currentField() === 'avantages'">{{ selectedOption.avantage }}</div>
            <div *ngIf="currentField() === 'desavantages'">{{ selectedOption.desavantage }}</div>
            <div *ngIf="currentField() === 'langues'">{{ selectedOption.langue }}</div>
          </div>
        </ng-template>

        <ng-template let-item pTemplate="item">
          <div class="flex flex-col gap-2">
            @if (currentField() === 'armes') {
              <div>{{ item.arme }}</div>
              <div class="text-gray-400">{{ item.degats }}</div>
            }
            @if (currentField() === 'armures') {
              <div>{{ item.armure }}</div>
              <div class="text-gray-400"> {{ item.protection }}</div>
            }
            @if (currentField() === 'carrieres') {
              <div>{{ item.carriere }}</div>
              <div class="text-gray-400"> {{ item.detail }}</div>
            }
            @if (currentField() === 'avantages') {
              <div>{{ item.avantage }}</div>
            }
            @if (currentField() === 'desavantages') {
              <div>{{ item.desavantage }}</div>
            }
            @if (currentField() === 'langues') {
              <div>{{ item.langue }}</div>
            }
          </div>
        </ng-template>
      </p-dropdown>
    </div>


    <div class="flex justify-end gap-2">
      <button severity="secondary" type="button" size="small" pButton pRipple icon="pi pi-times"
              (click)="opHeros.toggle($event)"></button>
      <button severity="success" type="button" size="small" pButton pRipple icon="pi pi-check"
              (click)="createItem(opHeros, $event)"
              [disabled]="!selectedItem()"></button>
    </div>
  </div>
</p-overlayPanel>
