@if (avantage(); as currentAvantage) {
  <div class="flex items-start gap-2">
    <button
      type="button"
      class="mt-0.5 inline-flex h-5 w-5 items-center justify-center"
      [matMenuTriggerFor]="avPanel"
    >
      <div
        class="tag_icon bonus"
        [inlineSVG]="traitIconPath(traitIconType(currentAvantage))"
      ></div>
    </button>
    <div class="ht-label relative">
      @if (trait()?.region_id) {
        <mat-icon class="ht-icon--region absolute -left-4 top-0 !h-3 !w-3 !text-xs !leading-3">place</mat-icon>
      }
      {{ currentAvantage.avantage }}
      @if (trait()?.detail) {
        <div class="ht-detail">{{ trait()?.detail }}</div>
      }
    </div>
  </div>

  <mat-menu #avPanel="matMenu">
    <div class="flex min-w-40 flex-col gap-2 p-3">
      @for (line of avantageDescription(); track line.title) {
        <div class="flex flex-col">
          <span class="ht-menu-title">{{ line.title }}</span>
          <span class="ht-menu-description">{{ line.description }}</span>
        </div>
      }
    </div>
  </mat-menu>
}

@if (desavantage(); as currentDesavantage) {
  <div class="flex items-start gap-2">
    <button
      type="button"
      class="mt-0.5 inline-flex h-5 w-5 items-center justify-center"
      [matMenuTriggerFor]="desPanel"
    >
      <div
        class="tag_icon malus"
        [inlineSVG]="traitIconPath(traitIconType(currentDesavantage))"
      ></div>
    </button>
    <div class="ht-label relative">
      @if (trait()?.carriere) {
        <mat-icon
          class="ht-icon--career absolute -left-4 top-0 !h-3 !w-3 !text-xs !leading-3"
          matTooltip="Désavantage de carrière"
        >construction</mat-icon>
      } @else if (trait()?.region_id) {
        <mat-icon class="ht-icon--region absolute -left-4 top-0 !h-3 !w-3 !text-xs !leading-3">place</mat-icon>
      }
      {{ currentDesavantage.desavantage }}
      @if (trait()?.detail) {
        <div class="ht-detail">{{ trait()?.detail }}</div>
      }
    </div>
  </div>

  <mat-menu #desPanel="matMenu">
    <div class="flex min-w-40 flex-col gap-2 p-3">
      @for (line of desavantageDescription(); track line.title) {
        <div class="flex flex-col">
          <span class="ht-menu-title">{{ line.title }}</span>
          <span class="ht-menu-description">{{ line.description }}</span>
        </div>
      }
    </div>
  </mat-menu>
}
