<p-card class="pnj_card" [style]="{border: '1px solid #424b57'}">
  @if ((questProtagonist$ | async) && questProtagonist()) {
    <div class="flex gap-2">
      <div class="pnj_card__img">
        <img *ngIf="!pnj()?.user_id" src="/assets/bol/pnj/{{pnj().id}}.jpg" alt=""/>
        <img *ngIf="pnj()?.user_id" style="width:100%"
             [src]="pnj().origines.avatar !== null ? pnj().origines.avatar : '/assets/bol/empty-avatar.jpg'"
             alt="avatar">
      </div>
      <div class="flex flex-col gap-2" style="width: 150px">
        <div class="pnj_card__name">{{ pnj().origines.nom }}</div>
        <div class="flex gap-2 items-center" (click)="openResources(heroPanel, $event)">
          <p-badge [value]="pnj().type" [pTooltip]="getType(pnj())" [severity]="getSeverity(pnj())"/>
          <p-tag severity="danger" pTooltip="Vitalité">
            <div class="flex items-center gap-1 px-0.5">
              <div style="width: 15px; height:15px;">
                <i class="pi pi-heart-fill" style="color: red; padding-top: 2px"></i>
              </div>
              <span style="color: white">{{questProtagonist()?.vitalite }}</span>
            </div>
          </p-tag>
          <p-tag severity="warning">
            @if (questProtagonist()?.heroisme ?? 0 > 0) {
              <div class="flex items-center gap-1 px-0.5" pTooltip="Heroisme">
                <div class="tag_icon warn" inlineSVG="/assets/flame.svg"></div>
                <span style="color: white">{{ questProtagonist()?.heroisme }}</span>
              </div>
            } @else {
              <div class="flex items-center gap-1 px-0.5" pTooltip="Vilénie">
                <div class="tag_icon warn" inlineSVG="/assets/skull.svg"></div>
                <span style="color: white">{{ questProtagonist()?.vilenie }}</span>
              </div>
            }
          </p-tag>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <app-btn pRipple icon="d6" (click)="openAction()"></app-btn>
        <app-btn *ngIf="pnj()?.user_id" pRipple icon="user-edit" (click)="fichePerso()"></app-btn>
        <app-btn pRipple icon="trash" (click)="deleteProtagonist(questProtagonist()!.id, $event)"></app-btn>
      </div>
    </div>

  } @else {
    <div class="flex gap-2" style="height:54px">
      <p-skeleton size="50px"/>
      <div class="flex flex-col gap-1">
        <p-skeleton width="150px" height="17px"/>
        <p-skeleton width="50px" height="20px"/>
      </div>
      <div class="flex flex-col gap-2">
        <p-skeleton size="21px"/>
        <p-skeleton size="21px"/>
      </div>
    </div>
  }
</p-card>
<p-overlayPanel #heroPanel>
  <div class="flex flex-col gap-2 pb-2">
    <div class="flex flex-col gap-1">
      <label>Vitalité</label>
      <p-inputNumber [(ngModel)]="ressources.vitalite" inputId="vitalite" variant="filled"/>
    </div>
    @if(ressources.heroisme > 0) {
      <div class="flex flex-col gap-1">
        <label>Heroisme</label>
        <p-inputNumber [(ngModel)]="ressources.heroisme" inputId="heroisme" variant="filled"/>
      </div>
    } @else {
      <div class="flex flex-col gap-1">
        <label>Vilénie</label>
        <p-inputNumber [(ngModel)]="ressources.vilenie" inputId="vilénie" variant="filled"/>
      </div>
    }
  </div>
  <div class="flex justify-end gap-2">
    <button severity="secondary" type="button" size="small" pButton pRipple icon="pi pi-times"
            (click)="heroPanel.toggle($event)"></button>
    <button severity="success" type="button" size="small" pButton pRipple icon="pi pi-check"
            (click)="modifResources(heroPanel, $event)"></button>
  </div>
</p-overlayPanel>
<p-confirmPopup />
