<p-fieldset class="armes w-full" [style]="{width: '450px'}">
  <ng-template pTemplate="header">
    <div class="flex items-center gap-2">
      <div class="cursor-pointer" (click)="languesInfos.toggle($event)">
        <i *ngIf="!langueWarns.length && !langueErrors.length" class="pi pi-info-circle"></i>
        <div *ngIf="langueErrors.length" style="color: var(--error-color)">
          <i class="pi pi-exclamation-triangle"></i> ({{ langueErrors.length }})
        </div>
        <div *ngIf="langueWarns.length" style="color: var(--warn-color)">
          <i class="pi pi-exclamation-triangle"></i> ({{ langueWarns.length }})
        </div>
      </div>

      <div>Langues</div>
    </div>
    <p-overlayPanel #languesInfos>
      <div class="flex flex-col gap-2">
        <bol-message type="lang"></bol-message>
        <bol-message type="form-errors" *ngIf="langueErrors.length" legend="Langues invalides" [data]="langueErrors"></bol-message>
        <bol-message type="form-warn" *ngIf="langueWarns.length" legend="Langues invalides" [data]="langueWarns"></bol-message>
      </div>
    </p-overlayPanel>
  </ng-template>
  <!-- Body Langues -->
  <p-scrollPanel [style]="{height: '80px'}">
    <div class="flex pb-2" *ngFor="let langue of langues.controls; let i = index">
      <div style="width: 150px">{{langueFromId(langue.value)}}</div>
      <app-btn (click)="deleteLangue(langue.value, $event)"></app-btn>
    </div>
  </p-scrollPanel>
  <!-- Footer Langues -->
  <div class="footer-separator flex justify-end gap-2">
    <p-button (click)="selectedLangue.set(null); opLangue.toggle($event)" label="Ajouter une langue" size="small" [link]="true" class="text-cyan-600"/>
  </div>
</p-fieldset>

<p-overlayPanel #opLangue>
  <div class="flex flex-col gap-4">
    <div>Ajouter une arme</div>
    <p-dropdown [style]="{ width: '250px' }" [options]="filteredLangueList()"
                [(ngModel)]="selectedLangue" [ngModelOptions]="{standalone: true}" [filter]="true"
                filterBy="arme" [showClear]="true" placeholder="Selectionner une langue">

      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
          <div>{{ selectedOption.langue }}</div>
        </div>
      </ng-template>

      <ng-template let-langue pTemplate="item">
        <div class="flex flex-col gap-2">
          <div class="text-2xl">{{ langue.langue }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <div class="flex justify-end gap-2">
      <button severity="secondary" type="button" size="small" pButton pRipple icon="pi pi-times"
              (click)="opLangue.toggle($event)"></button>
      <button severity="success" type="button" size="small" pButton pRipple icon="pi pi-check"
              (click)="addLangue(opLangue, $event)" [disabled]="!selectedLangue()"></button>
    </div>
  </div>
</p-overlayPanel>
