:host {
  display: block;
  --dw-lh-eyebrow-color: #fcd34d; // amber-300 par défaut
}

:host.dw-lh-color-emerald { --dw-lh-eyebrow-color: #6ee7b7; }
:host.dw-lh-color-sky     { --dw-lh-eyebrow-color: #7dd3fc; }
:host.dw-lh-color-rose    { --dw-lh-eyebrow-color: #fda4af; }
:host.dw-lh-color-neutral { --dw-lh-eyebrow-color: #cbd5e1; }

.dw-lh-eyebrow {
  color: var(--dw-lh-eyebrow-color);
}
