@if (avantage(); as currentAvantage) {
  <div class="flex items-center gap-2">
    <button
      type="button"
      class="inline-flex h-5 w-5 items-center justify-center"
      [matMenuTriggerFor]="avPanel"
    >
      @if (traitIconIsSvg(avantageIcon())) {
        <mat-icon class="tag_icon bonus" [svgIcon]="traitIconName(avantageIcon())" />
      } @else {
        <mat-icon class="tag_icon bonus">{{ traitIconName(avantageIcon()) }}</mat-icon>
      }
    </button>
    <div class="htr-label" [class.opacity-50]="disabled()">
      {{ currentAvantage.avantage }}
      @if (currentAvantage.pivot.detail) {
        <span class="htr-detail">({{ currentAvantage.pivot.detail }})</span>
      }
    </div>
  </div>

  <mat-menu #avPanel="matMenu">
    <div class="flex min-w-40 flex-col gap-2 p-3">
      @for (line of avantageDescription(); track line.title) {
        <div class="flex flex-col">
          <span class="htr-menu-title">{{ line.title }}</span>
          <span class="htr-menu-description">{{ line.description }}</span>
        </div>
      }
    </div>
  </mat-menu>
}

@if (desavantage(); as currentDesavantage) {
  <div class="flex items-center gap-2">
    <button
      type="button"
      class="inline-flex h-5 w-5 items-center justify-center"
      [matMenuTriggerFor]="desPanel"
    >
      @if (traitIconIsSvg(desavantageIcon())) {
        <mat-icon class="tag_icon malus" [svgIcon]="traitIconName(desavantageIcon())" />
      } @else {
        <mat-icon class="tag_icon malus">{{ traitIconName(desavantageIcon()) }}</mat-icon>
      }
    </button>
    <div class="htr-label" [class.opacity-50]="disabled()">
      {{ currentDesavantage.desavantage }}
      @if (currentDesavantage.pivot.detail) {
        <span class="htr-detail">({{ currentDesavantage.pivot.detail }})</span>
      }
    </div>
  </div>

  <mat-menu #desPanel="matMenu">
    <div class="flex min-w-40 flex-col gap-2 p-3">
      @for (line of desavantageDescription(); track line.title) {
        <div class="flex flex-col">
          <span class="htr-menu-title">{{ line.title }}</span>
          <span class="htr-menu-description">{{ line.description }}</span>
        </div>
      }
    </div>
  </mat-menu>
}
