<div class="region-container flex gap-2 flex-col">
  <form [formGroup]="creatureForm" autocomplete="off" class="flex flex-col gap-2">
    <div class="flex gap-2">

      <div class="hero-avatar cursor-pointer" (click)="picture()">
        <img style="width:100%"
             [src]="avatarCtrl.value !== null ? avatarCtrl.value : '/frontend/assets/bol/empty-avatar.jpg'"
             alt="avatar">
        <p class="hero-avatar__description">Modifier</p>
      </div>


      <div class="flex flex-col gap-2">
        <!--- Nom du joueur --->
        <div class="flex flex-col gap-1 w-fit justify-end">
          <label for="nom">Nom de la créature</label>
          <input formControlName="nom" pInputText id="joueur" class="p-inputtext-sm"/>
        </div>
        <div class="flex flex-col gap-1 w-fit justify-end">
          <label for="taille">Taille</label>
          <p-dropdown [style]="{ width: '250px' }"
                      class="p-inputtext-sm"
                      optionLabel="taille"
                      optionValue="id"
                      [options]="tailles()"
                      formControlName="id_taille"
                      placeholder="Selectionner une taille"></p-dropdown>
        </div>
      </div>
      <div>
        <div class="flex flex-col gap-1 w-fit justify-end">
          <label for="commentaire">Commentaire</label>
          <textarea rows="5" cols="30"  pInputTextarea  formControlName="commentaire"></textarea>
        </div>
      </div>
    </div>


    <div class="flex gap-4">
      <p-fieldset legend="Attributs">
        <div class="flex gap-2">
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="vigueur">Vigueur</label>
              <p-inputNumber formControlName="vigueur" inputId="vigueur" maxFractionDigits="0"/>
            </div>
            <div class="flex flex-col gap-1">
              <label for="agilite">Agilité</label>
              <p-inputNumber formControlName="agilite" inputId="agilite" maxFractionDigits="0"/>
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="esprit">Esprit</label>
              <p-inputNumber formControlName="esprit" inputId="esprit" maxFractionDigits="0"/>
            </div>
            <div class="flex flex-col gap-1">
              <label for="vitalite">Vitalité</label>
              <p-inputNumber formControlName="vitalite" inputId="vitalite" maxFractionDigits="0" />
            </div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Combat">
        <div class="flex gap-2">
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="attaque">Attaque</label>
              <p-inputNumber formControlName="attaque" inputId="attaque" />
            </div>
            <div class="flex flex-col gap-1">
              <label for="defense">Défense</label>
              <p-inputNumber formControlName="defense" inputId="defense" />
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="degat">Dégâts</label>
              <input formControlName="degat" pInputText id="degat" class="p-inputtext-sm"/>
            </div>
            <div class="flex flex-col gap-1">
              <label for="protection">Protection</label>
              <input formControlName="protection" pInputText id="protection" class="p-inputtext-sm"/>
            </div>
          </div>
        </div>
      </p-fieldset>
    </div>
    <p-fieldset legend="Capacités spéciales">

    </p-fieldset>
  </form>
  <div class="flex justify-end gap-2 pt-2">
    <button pButton icon="pi pi-times" size="small" label="Quitter" severity="secondary" (click)="quit($event)"></button>
    <button  pButton icon="pi pi-check" size="small" label="Valider" severity="success" [disabled]="creatureForm.invalid" (click)="submit($event)"></button>
  </div>
</div>
