<div class="region-container flex gap-2">
  <form (ngSubmit)="submit()" [formGroup]="creatureForm" autocomplete="off" class="flex flex-col gap-2">
    <!--- Nom du joueur --->
    <div class="flex flex-col gap-1 w-fit justify-end">
      <label for="nom">Nom de la créature</label>
      <input formControlName="nom" pInputText id="joueur" class="p-inputtext-sm"/>
    </div>

    <div class="flex flex-col gap-1 w-fit justify-end">
      <label for="nom">Taille</label>
      <p-dropdown [style]="{ width: '250px' }"
                  class="p-inputtext-sm"
                  optionLabel="taille"
                  [options]="tailles()"
                  formControlName="idTaille"
                  placeholder="Selectionner une taille"></p-dropdown>
    </div>

    <div class="flex gap-4">
      <p-fieldset legend="Attributs">
        <div class="flex gap-2">
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="vigueur">Vigueur</label>
              <p-inputNumber formControlName="vigueur" inputId="vigueur" maxFractionDigits="0"/>
            </div>
            <div class="flex flex-col gap-1">
              <label for="agilite">Agilité</label>
              <p-inputNumber formControlName="agilite" inputId="agilite" maxFractionDigits="0"/>
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="esprit">Esprit</label>
              <p-inputNumber formControlName="esprit" inputId="esprit" maxFractionDigits="0"/>
            </div>
            <div class="flex flex-col gap-1">
              <label for="vitalite">Vitalité</label>
              <p-inputNumber formControlName="vitalite" inputId="vitalite" maxFractionDigits="0" />
            </div>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Combat">
        <div class="flex gap-2">
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="attaque">Attaque</label>
              <p-inputNumber formControlName="attaque" inputId="attaque" />
            </div>
            <div class="flex flex-col gap-1">
              <label for="defense">Défense</label>
              <p-inputNumber formControlName="defense" inputId="defense" />
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1">
              <label for="degat">Dégâts</label>
              <input formControlName="degat" pInputText id="degat" class="p-inputtext-sm"/>
            </div>
            <div class="flex flex-col gap-1">
              <label for="protection">Protection</label>
              <input formControlName="protection" pInputText id="protection" class="p-inputtext-sm"/>
            </div>
          </div>
        </div>
      </p-fieldset>
    </div>

  </form>
</div>
