<section class="auth-mat-page">
  <mat-card class="auth-mat-card" appearance="outlined">
    <img mat-card-image ngSrc="assets/dw1.jpg" alt="" width="400" height="265" priority />

    <mat-card-header>
      @if (!success) {
        <mat-card-title>Bienvenue sur Diceway</mat-card-title>
      } @else {
        <mat-card-title>Mot de passe modifié</mat-card-title>
      }
    </mat-card-header>

    <mat-card-content>
      @if (!success) {
        <p>Votre compte est désormais actif, vous pouvez maintenant vous connecter.</p>
      } @else {
        <p>Votre mot de passe a été modifié avec succès, vous pouvez maintenant vous connecter.</p>
      }
    </mat-card-content>

    <mat-card-actions>
      <div class="auth-mat-actions auth-mat-actions--end">
        <button mat-flat-button routerLink="/login">Continuer</button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
