<div class="page-container">
  <div>
    <app-header legend="Personnages non joueurs">
      <button pButton label="Retour" icon="pi pi-arrow-left" severity="secondary" size="small"
              routerLink="/bol"></button>
    </app-header>
  </div>
  <div class="flex">
    <div class="flex flex-auto">
      <p-table
        #pnjTable
        class="w-full"
        [value]="filteredPnjList"
        [scrollable]="true"
        dataKey="id"
        [globalFilterFields]="['origines.nom']"
        scrollHeight="calc(100vh - 170px)">

        <ng-template pTemplate="caption">
          <div class="flex justify-between">
            <div class="flex gap-2 items-center">
              <p-iconField iconPosition="left">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  style="padding-left: 2.5rem"
                  class="p-inputtext-sm"
                  type="text"
                  [(ngModel)] = "searchTerm"
                  (input)="filtering($event)"
                  placeholder="Votre recherche"/>
              </p-iconField>
              <div class="flex items-center gap-2">
                <p-dropdown
                  [options]="typeList"
                  optionLabel="type"
                  optionValue="value"
                  [showClear]="true"
                  [(ngModel)] = "searchType"
                  (ngModelChange)="filterExtended()"/>
                <p-checkbox
                  class="pr-2 cursor-pointer"
                  [(ngModel)] = "searchCreation"
                  [binary]="true" label="Mes créations" (ngModelChange)="filterExtended()"/>
              </div>
              <button pTooltip="Supprimer les filtres" pButton icon="pi pi-filter-slash" severity="info" size="small" (click)="clear(pnjTable)"></button>
            </div>
            <div>
              <button pButton label="Création" icon="pi pi-palette" severity="warning" size="small"
                      (click)="createPnj()"></button>
            </div>
          </div>

        </ng-template>


        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th>Description</th>
            <th>Ressources</th>
            <th>Attributs</th>
            <th>Combat</th>
            <th>Carrières</th>
            <th>Armures</th>
            <th>Armes</th>
            <th>Traits</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pnj>
          <tr>
            <td style="width: 110px" class="relative">
              <div class="pnj_row__img cursor-pointer" (click)="showPnjPicture(pnj)">
                <img *ngIf="!pnj.user_id" src="/frontend/assets/bol/pnj/{{pnj.id}}.jpg" alt=""/>
                <img *ngIf="pnj.user_id" style="width:100%"
                     [src]="pnj.origines.avatar !== null ? pnj.origines.avatar : '/frontend/assets/bol/empty-avatar.jpg'"
                     alt="avatar">
              </div>
              <div style="position: absolute; bottom: 12px; left: 12px;">
                <p-tag *ngIf="pnj.user_id">Création</p-tag>
              </div>
            </td>
            <td class="relative">
              <div class="flex flex-col justify-between" style="height: 100px">
                <div>
                  <div class="flex gap-2 items-center text-xl">
                    <i *ngIf="pnj.commentaire" class="pi pi-info-circle cursor-pointer warn-color"
                       [pTooltip]="pnj.commentaire ?? ''"></i>
                    <div style="text-transform: capitalize">{{ pnj.origines.nom }}</div>
                  </div>
                  <div class="text-gray-400" style="text-transform: capitalize" >{{getType(pnj) }}</div>
                </div>
                <div *ngIf="pnj.user_id" class="flex items-center gap-2">
                  <button severity="secondary" type="button" size="small" pButton pRipple icon="pi pi-pencil"
                          (click)="createPnj(pnj)"></button>
                  <button severity="danger" type="button" size="small" pButton pRipple icon="pi pi-trash"
                          (click)="askDelete(pnj, $event)">
                  </button>
                </div>
              </div>
            </td>

            <td>
              <div style="height: 100px">
                <table>
                  <tr>
                    <td class="text-gray-300">Vitalité</td>
                    <td class="text-gray-400">{{ pnj.ressources.vitalite }}</td>
                  </tr>
                  <tr *ngIf="pnj.ressources.pouvoir">
                    <td class="text-gray-300">Pouvoir</td>
                    <td class="text-gray-400">{{ pnj.ressources.pouvoir }}</td>
                  </tr>
                  <tr *ngIf="pnj.ressources.foi">
                    <td class="text-gray-300">Foi</td>
                    <td class="text-gray-400">{{ pnj.ressources.foi }}</td>
                  </tr>
                  <tr *ngIf="pnj.ressources.vilenie">
                    <td class="text-gray-300">Vilénie</td>
                    <td class="text-gray-400">{{ pnj.ressources.vilenie }}</td>
                  </tr>
                  <tr *ngIf="pnj.ressources.heroisme">
                    <td class="text-gray-300">Héroisme</td>
                    <td class="text-gray-400">{{ pnj.ressources.heroisme }}</td>
                  </tr>
                </table>
              </div>
            </td>

            <td>
              <div style="height: 100px">
                <table>
                  <tr>
                    <td class="text-gray-300">Vigueur</td>
                    <td class="text-gray-400">{{ pnj.attributs.vigueur }}</td>
                  </tr>
                  <tr>
                    <td class="text-gray-300">Agilité</td>
                    <td class="text-gray-400">{{ pnj.attributs.agilite }}</td>
                  </tr>
                  <tr>
                    <td class="text-gray-300">Esprit</td>
                    <td class="text-gray-400">{{ pnj.attributs.esprit }}</td>
                  </tr>
                  <tr>
                    <td class="text-gray-300">Aura</td>
                    <td class="text-gray-400">{{ pnj.attributs.aura }}</td>
                  </tr>
                </table>
              </div>

            </td>

            <td>
              <div style="height: 100px">
                <table>
                  <tr>
                    <td class="text-gray-300">Initiative</td>
                    <td class="text-gray-400">{{ pnj.combat.initiative }}</td>
                  </tr>
                  <tr>
                    <td class="text-gray-300">Tir</td>
                    <td class="text-gray-400">{{ pnj.combat.tir }}</td>
                  </tr>
                  <tr>
                    <td class="text-gray-300">Défense</td>
                    <td class="text-gray-400">{{ pnj.combat.defense }}</td>
                  </tr>
                  <tr>
                    <td class="text-gray-300">Mêlée</td>
                    <td class="text-gray-400">{{ pnj.combat.melee }}</td>
                  </tr>
                </table>
              </div>
            </td>

            <td>
              <div style="height: 100px">
                <table>
                  <tr *ngFor="let cari of pnj.carrieres">
                    <td>{{ cari.carriere.carriere }}</td>
                    <td class="text-gray-400 whitespace-nowrap">{{ cari.value }}</td>
                  </tr>
                </table>
              </div>
            </td>

            <td>
              <div style="height: 100px">
                <table>
                  <tr *ngFor="let armure of pnj.armures">
                    <td class="whitespace-nowrap">{{ armure.armure.armure }}</td>
                    <td class="whitespace-nowrap text-gray-400 bol-ellipsis-80"
                        [pTooltip]="armure.armure.protection">{{ armure.armure.protection }}
                    </td>
                  </tr>
                </table>
              </div>
            </td>

            <td>
              <div style="height: 100px">
                <table>
                  <tr *ngFor="let arme of pnj.armes">
                    <td class="whitespace-nowrap">{{ arme.arme.arme }}</td>
                    <td class="whitespace-nowrap text-gray-400 bol-ellipsis-80"
                        [pTooltip]="arme.arme.degats">{{ arme.arme.degats }}
                    </td>
                  </tr>
                </table>
              </div>
            </td>

            <td>
              <p-scrollPanel [style]="{height: '100px'}">
                <table>
                  <tr *ngFor="let trait of pnj.traits">
                    <td [class.error-color]="trait.type ==='D'"
                        [class.success-color]="trait.type ==='A'">
                      <div class="bol-ellipsis-120"  tooltipPosition="left"  pTooltip="{{ trait.traitable.avantage }} {{ trait.traitable.desavantage }}">{{ trait.traitable.avantage }} {{ trait.traitable.desavantage }}</div>
                    </td>
                  </tr>
                </table>
              </p-scrollPanel>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-confirmPopup/>

<p-dialog *ngIf="currentPnj"
          [(visible)]="showPnj"
          [header]="currentPnj.origines.nom ?? ''"
          [modal]="true">
  <div *ngIf="currentPnj" class="pnj-preview">
    <img *ngIf="!currentPnj.user_id" src="/frontend/assets/bol/pnj/{{currentPnj.id}}.jpg" alt=""/>
    <img *ngIf="currentPnj.user_id" style="width:100%"
         [src]="currentPnj.origines.avatar !== null ? currentPnj.origines.avatar : '/frontend/assets/bol/empty-avatar.jpg'"
         alt="avatar">
  </div>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-times" size="small" label="Quitter" severity="secondary"
            (click)="showPnj = false"></button>
  </ng-template>
</p-dialog>
