@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

//@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  line-height: normal;
  height: 100%;
  font-size: 14px;
  --cropper-outline-color: rgba(255, 255, 255, 0.5);
  --error-color: #f87171;
  --success-color: #4ade80;
  --warn-color: #fb923c;
  --info-color: #60a5fa;
}


@import "styles/diceway";
@import "styles/tag";
@import "styles/tooltip";
@import "styles/icon";
@import "styles/form";
@import "styles/bol";
@import "styles/bol_regions";
@import "styles/messages";
@import "styles/button";
@import "styles/card";
@import "styles/dialog";
@import "styles/table";
@import "styles/colors";
@import "styles/dicebox";


/* IE fix */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.dw_banner {
  color: lighten(#83a1a6, 20%);
}

.dw_title {
  height: 150px
}

.dw_route {
  color: #83a1a6;
}

.dw_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.dw_error {
  position: absolute;
  font-size: 12px;
  left: 2px;
  right: 0;
  bottom: -15px;
  white-space: nowrap;
  color: #ef4444;
}

.dw_container {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1e1;
  padding: 10px;
  border-radius: 5px;

  a {
    color: inherit;
  }
}


/**
* Titre de la carte en cas de soucis
*/
.forbidden {
  .p-card-title {
    color: var(--red-500);
  }
}

.home-card {
  .p-card-header {
    height: 184px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px;

    img {
      width: auto;
    }
  }

  .p-card-body {
    border-top: 1px solid darkgrey;
  }
}

.creature_card {
  .p-card-body {
    padding: 10px;
  }
}

.p-button.p-button-sm {
  padding-bottom: 6.125px;
  padding-left: 12.25px;
  padding-right: 12.25px;
  padding-top: 6.125px;
}

.p-button.p-button-icon-only {
  width: 2rem;
}

.p-fieldset {
  .p-fieldset-legend {
    padding: 5px;
    border: none;
  }

  .p-fieldset-content {
    padding: 5px;
  }
}

.p-dialog-header,
.p-toolbar {
  padding: 0.8rem;
}

.p-dialog .p-dialog-content {
  padding: 0 0.8rem 0.8rem 0.8rem;
}

.picture-panel {
  width: 790px;
  height: calc(50vh + 15px);

  .p-panel-header {
    padding: 4px 0 0 0;
    border-bottom: none;
  }

  .p-panel-content {
    padding: 5px;
    height: 100%;
  }

  .p-toggleable-content {
    height: 100%;
  }
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0.5rem;
}


.page-container {
  margin-top: 4rem;
  height: calc(100vh - 4rem);
}

.bol-ellipsis-80 {
  max-width: 80px; /* Ajuste la largeur selon tes besoins */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bol-ellipsis-120 {
  max-width: 120px; /* Ajuste la largeur selon tes besoins */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bol-ellipsis-150 {
  max-width: 150px; /* Ajuste la largeur selon tes besoins */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#dici-box {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#dici-box canvas {
  width: 100%;
  height: 100%;
}

#roll {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
}
