@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

//@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  line-height: normal;
  height: 100%;
  font-size: 14px;
}

/* IE fix */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.dw_banner {
  color: #83a1a6;
}

.dw_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.dw_error {
  position: absolute;
  font-size: 12px;
  left: 2px;
  right: 0;
  bottom: -15px;
  white-space: nowrap;
  color: #ef4444;
}

.dw_container {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1e1;
  padding: 10px;
  border-radius: 5px;

  a {
    color: inherit;
  }
}

/**
* Gestion des messages
*/
.p-message .p-message-wrapper {
  padding: 0.5rem 1rem;
}

.p-message-icon {
  display: flex;
}

/**
* Titre de la carte en cas de soucis
*/
.forbidden {
  .p-card-title {
    color: var(--red-500);
  }
}

.home-card {
  .p-card-header {
    height: 184px;
    overflow: hidden;
  }
}

/**
* Formulaires
**/
.p-inputnumber-input,
.p-inputtext.p-inputtext-sm {
  padding: 5px;
  font-size: 0.9rem;
}

.p-button.p-button-sm {
  padding-bottom: 6.125px;
  padding-left: 12.25px;
  padding-right: 12.25px;
  padding-top: 6.125px;
}
.p-button.p-button-icon-only {
  width: 2rem;
}
.p-fieldset {
  .p-fieldset-legend {
    padding: 5px;
    border: none;
  }
  .p-fieldset-content {
    padding: 5px;
  }
}
.p-dialog-header,
.p-toolbar {
  padding: 0.8rem;
}

.p-dialog .p-dialog-content {
  padding: 0 0.8rem 0.8rem 0.8rem;
}

.picture-panel {
  width: 790px;
  height: calc(50vh + 15px);
  .p-panel-header {
    padding: 4px 0 0 0;
    border-bottom: none;
  }
  .p-panel-content {
    padding: 5px;
    height: 100%;
  }
  .p-toggleable-content {
    height: 100%;
  }
}
html {
  --cropper-outline-color: rgba(255,255,255,0.5);
}

