<div class="flex flex-col h-screen items-center gap-1 pt-10">
  <img ngSrc="assets/dw1.jpg" alt="" width="400" height="302">
  @if (!reset) {
    <div class="text-xl">Finaliser votre inscription</div>
    <div class="flex flex-col">
      <h3 class="m-0">Un mail vient de vous être envoyé</h3>
      <div class="mb-1">
        Pour finaliser votre inscription, rendez-vous dans votre boîte mail pour activer votre compte.
      </div>
      <div class="dw_container mb-4 mt-4">
        Pas d'e-mail reçu dans votre boîte de réception ou vos spam ?
        <p-button [routerLink]="'/resend'" label="Renvoyer l'e-mail" size="small" [text]="true"></p-button>
      </div>
    </div>
    <div class="flex justify-end gap-4">
      <p-button [routerLink]="'/'" label="Continuer" size="small"></p-button>
    </div>
  }

  @if (reset) {
    <div class="text-xl">Mot de passe oublié</div>
      <div class="flex flex-col">
        <h3 class="m-0">Un mail vient de vous être envoyé</h3>
        <div class="mb-4">
          Pour accéder à la modification de votre mot de passe, rendez vous dans votre messagerie et cliquez sur le
          lien.
        </div>
      </div>
      <div class="flex justify-end gap-4">
        <p-button [routerLink]="'/'" label="Continuer" size="small"></p-button>
      </div>
  }
</div>
