<div class="flex flex-col h-screen items-center w-full gap-1 pt-10">
  <img ngSrc="assets/dw1.jpg" alt="" width="400" height="265">
  <form [formGroup]="forgotForm" class="flex flex-col gap-4 w-1/3">
    <div class="text-xl">
      Renseigner votre adresse mail ci dessous et nous vous everrons une lien pour pouvoir modifier votre mot de
      passe.
    </div>

      <div class="flex flex-col gap-2">
        <div class="relative flex flex-col">
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText formControlName="email" placeholder="Adresse mail" autocomplete="username"/>
          </p-inputGroup>
          @if (onError('email')) {
            <small class="dw_error">Adresse mail non valide</small>
          }
        </div>
        <div class="flex justify-end gap-2">
          <p-button [routerLink]="'/'" label="Retour" size="small" severity="secondary"
                    [disabled]="pending"></p-button>
          <p-button label="Envoyer" size="small" [disabled]="forgotForm.invalid || pending" (click)="send()"
                    type="submit"></p-button>
        </div>
      </div>

    <div>
      @for (message of messages; track message) {
        <p-message severity="error" [closable]="false">{{ message }}</p-message>
      }
    </div>

  </form>
  @if (pending) {
    <p-progressBar mode="indeterminate" [style]="{ height: '6px', width: '250px' }"></p-progressBar>
  }
</div>
