<div class="flex h-full items-center w-full justify-center">
    <p-card class="w-1/3" header="Mot de passe oublié ?">
        <div class="flex flex-col gap-4">
            <div class="text-sm">
                Renseigner votre adresse mail ci dessous et nous vous everrons une lien pour pouvoir modifier votre mot de passe.
            </div>
            <p-inputGroup>
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="Adresse mail" />
            </p-inputGroup>
            <div class="flex justify-between">
                <p-button  [routerLink]="'/'" label="retour" size="small" [outlined]="true" severity="secondary"></p-button>
                <p-button label="Envoyer" size="small"></p-button>
            </div>
        </div>
    </p-card>
</div>