<div class="flex p-4 gap-4 flex-wrap">
  <p-card header="Origines">
   <div class="flex flex-col gap-1">
     <div class="flex flex-col gap-1">
       <label for="username">Nom du joueur</label>
       <input pInputText id="username" class="p-inputtext-sm"/>
     </div>
     <div class="flex flex-col gap-1">
       <label for="heroname">Nom du joueur</label>
       <input pInputText id="heroname" class="p-inputtext-sm"/>
     </div>
   </div>
  </p-card>
  <p-card header="Attributs">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
    </p>
  </p-card>
  <p-card header="Combats">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
    </p>
  </p-card>
  <p-card header="Carrières">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
    </p>
  </p-card>
  <p-card header="Armes">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
    </p>
  </p-card>
  <p-card header="Armures">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
    </p>
  </p-card>
</div>
