<div class="flex p-4 gap-4 flex-wrap">
  <p-card header="Origines">
   <div class="flex flex-col gap-1">
     <div class="flex flex-col gap-1">
       <label for="playername">Nom du joueur</label>
       <input pInputText id="playername" class="p-inputtext-sm"/>
     </div>
     <div class="flex flex-col gap-1">
       <label for="heroname">Nom du héro</label>
       <input pInputText id="heroname" class="p-inputtext-sm"/>
     </div>
   </div>
  </p-card>
  
  <p-card header="Attributs">
    <div class="flex gap-2">
      <div class="flex flex-col gap-1">
        <div class="flex flex-col gap-1">
          <label for="vigueur">Vigueur</label>
          <input pInputText id="vigueur" class="p-inputtext-sm"/>
        </div>
        <div class="flex flex-col gap-1">
          <label for="agilite">Agilité</label>
          <input pInputText id="agilite" class="p-inputtext-sm"/>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <div class="flex flex-col gap-1">
          <label for="esprit">Esprit</label>
          <input pInputText id="esprit" class="p-inputtext-sm"/>
        </div>
        <div class="flex flex-col gap-1">
          <label for="aura">Aura</label>
          <input pInputText id="aura" class="p-inputtext-sm"/>
        </div>
      </div>
    </div>
  </p-card>
  <p-card header="Combats">
    <div class="flex gap-2">
      <div class="flex flex-col gap-1">
        <div class="flex flex-col gap-1">
          <label for="initiative">Initiative</label>
          <input pInputText id="initiative" class="p-inputtext-sm"/>
        </div>
        <div class="flex flex-col gap-1">
          <label for="melee">Mêlée</label>
          <input pInputText id="melee" class="p-inputtext-sm"/>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <div class="flex flex-col gap-1">
          <label for="tir">Tir</label>
          <input pInputText id="tir" class="p-inputtext-sm"/>
        </div>
        <div class="flex flex-col gap-1">
          <label for="defence">Défense</label>
          <input pInputText id="defence" class="p-inputtext-sm"/>
        </div>
      </div>
    </div>
  </p-card>
  <p-card header="Carrières">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
    </p>
  </p-card>
  <p-card header="Armes">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
    </p>
  </p-card>
  <p-card header="Armures">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
    </p>
  </p-card>
</div>
