<p-card class="creature_card" [style]="{width: '300px'}">
  @if (hero$ | async) {
    <div class="flex gap-2">
      <div class="heros_card__img">
        <img style="width:100%"
             [src]="hero()?.origines?.avatar !== null ? hero()?.origines?.avatar : '/frontend/assets/bol/empty-avatar.jpg'"
             alt="avatar">
      </div>
      <div class="flex flex-col pt-1">
        <div class="flex gap-2 items-center text-xl">
          <i *ngIf="hero()?.origines?.commentaire" class="pi pi-info-circle cursor-pointer warn-color"
             [pTooltip]="hero()?.origines?.commentaire ?? ''"></i>
          <div style="text-transform: capitalize" class="bol-ellipsis-150">{{ hero()?.origines?.nom }}</div>
        </div>
      </div>
    </div>
  } @else {
    <div class="flex gap-2">
      <p-skeleton size="100px"/>
      <div class="flex flex-col">
        <p-skeleton width="10rem" height="25px" />
      </div>
    </div>
  }
</p-card>

