<p-card class="creature_card">
  @if ((hero$ | async) && hero()) {
    <div class="flex gap-2">
      <div class="heros_card__img">
        <img style="width:100%"
             [src]="hero()?.origines?.avatar !== null ? hero()?.origines?.avatar : '/frontend/assets/bol/empty-avatar.jpg'"
             alt="avatar">
      </div>
      <div class="flex flex-col gap-2 flex-auto">
        <div>{{hero()?.origines?.nom}}</div>
        <div></div>
      </div>
      <div class="flex flex-col gap-2">
        <app-btn pRipple icon="d6" (click)="openAction()"></app-btn>
        <app-btn pRipple icon="user-edit" (click)="fichePerso()"></app-btn>
      </div>
    </div>

  } @else {
    <div class="flex gap-2">
      <p-skeleton size="100px"/>
      <div class="flex flex-col gap-1" style="height: 105px">
        <p-skeleton width="10rem" height="25px"/>
        <div class="flex flex-col gap-1">
          <p-skeleton width="5rem" height="12px"/>
          <p-skeleton width="5rem" height="12px"/>
        </div>
        <div class="flex flex-col gap-1">
          <p-skeleton width="5rem" height="16px"/>
          <p-skeleton width="5rem" height="16px"/>
        </div>
      </div>
    </div>
  }
</p-card>
