.tag_icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;

  svg {
    width: 15px;
    height: 15px;
  }

  &.malus {
    color: #f87171;
  }

  &.bonus {
    color: #4ade80;
  }

  &.warn {
    color: #71461a;
  }
}

$icon-sizes: 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

@each $size in $icon-sizes {
  .svg_icon_#{$size} {
    width: #{$size}px;
    height: #{$size}px;

    svg {
      width: #{$size}px;
      height: #{$size}px;
    }
  }
}
