.dw-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--p-tag-contrast-background);
  color: var(--p-tag-contrast-color);
  font-size: var(--p-tag-font-size);
  font-weight: var(--p-tag-font-weight);
  padding: var(--p-tag-padding);
  border-radius: var(--p-tag-border-radius);
  gap: var(--p-tag-gap);
}

.tag_icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;

  svg {
    width: 15px;
    height: 15px;
  }

  &.malus {
    color: var(--dw-color-echec);
  }

  &.bonus {
    color: var(--dw-color-bonus);
  }

  &.warn {
    color: var(--dw-color-warn);
  }
}

$icon-sizes: 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

@each $size in $icon-sizes {
  .svg_icon_#{$size} {
    width: #{$size}px;
    height: #{$size}px;

    svg {
      width: #{$size}px;
      height: #{$size}px;
    }
  }
}
