.trash-container {
  padding: 5px 5px 5px 5px;
  border-radius: 50px;
  background-color: darken(#607d8b, 10%);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 10px;
  &:hover {
    background-color: #607d8b;
  }
}
