<div class="flex h-full items-center w-full justify-center">
    <p-card header="Nouveau compte">
        <div [formGroup]="registerForm" class="flex flex-col gap-4">
            <input  formControlName="name" pInputText placeholder="Pseudonyme*" />
            <input  formControlName="email" pInputText placeholder="Adresse mail*" />
            <input  formControlName="password" pInputText placeholder="Mot de passe*" />
            <input  formControlName="password_confirmation" pInputText placeholder="Confirmer le mot de passe*" />
    
            <div class="flex justify-between">
                <p-button  [routerLink]="'/'" label="retour" size="small" [outlined]="true" severity="secondary"></p-button>
                <p-button label="Créér le compte" size="small" [disabled]="registerForm.invalid" (click)="register()"></p-button>
            </div>
        </div>
    </p-card>
</div>