<p-card class="creature_card">
  @if ((pnj$ | async) && pnj()) {
    <div class="flex gap-2">
      <div class="pnj_card__img">
        <img *ngIf="!pnj()?.user_id" src="/frontend/assets/bol/pnj/{{pnj()?.id}}.jpg" alt=""/>
        <img *ngIf="pnj()?.user_id" style="width:100%"
             [src]="pnj()?.origines?.avatar !== null ? pnj()?.origines?.avatar : '/frontend/assets/bol/empty-avatar.jpg'"
             alt="avatar">
      </div>
      <div class="flex flex-col gap-2 flex-auto">
        <div>{{pnj()?.origines?.nom}}</div>
        <div><p-tag>{{ getType(pnj()) }}</p-tag>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <app-btn pRipple icon="d6" (click)="openAction()"></app-btn>
      </div>
    </div>
  }
</p-card>
