<div class="flex flex-col gap-2 h-full">
  <p-fieldset legend="Liste des carrières" class="w-full h-full" styleClass="h-full relative">
    <div class="flex gap-2" style="position: absolute; inset:15px;">
      <p-scrollPanel class="flex-auto" [style]="{display: 'block', height: '100%'}">
        <div class="flex gap-2 pb-2" *ngFor="let carriere of carrieres">
          <p-checkbox name="car"
                      (onChange)="checkSelection()"
                      [disabled]="(carriereIds.length === 3 && !carriereIds.includes(carriere.id))"
                      [(ngModel)]="selectedCarrieres"
                      [value]="carriere"></p-checkbox>
          {{carriere.carriere}}
        </div>
      </p-scrollPanel>
    </div>
  </p-fieldset>
</div>
