<div class="flex flex-col h-screen items-center w-full justify-center gap-5">
  <div class="dw_banner" [inlineSVG]="'/assets/banner.svg'"></div>
  <p-card header="404">
    <div class="flex flex-col">
      <h3 class="m-0">TOC: échec critique </h3>
      <div class="mb-4 text-sm">
        La ressource à laquelle vous essayez d'accéder n'existe pas, plus...
      </div>
    </div>
    <div class="flex justify-end">
      <p-button [routerLink]="'/'" label="Continuer" size="small"></p-button>
    </div>
  </p-card>
</div>
