<div class="heros_card">
  @if ((questProtagonist$ | async) && questProtagonist()) {
    <div class="heros_card__name justify-between">
      <div class="heros_card__name_left">
        {{ hero().origines.nom }}
        <div class="heros_card__player">{{ hero().origines.joueur }}</div>
      </div>
      <p-button icon="pi pi-ellipsis-v" [rounded]="true" [text]="true" size="small" severity="contrast"
                (click)="menus.toggle($event)"/>
    </div>
    <div class="flex">
      <img class="heros_card__img"
           [src]="hero().origines.avatar !== null ? hero().origines.avatar : '/assets/bol/empty-avatar.jpg'"
           alt="avatar">
      <div class="heros_card__right">
        <div class="heros_card__health">
          <i class="pi pi-heart-fill" style="color: red;"></i>
          <div>{{ questProtagonist()?.vitalite }}</div>
        </div>
        <div class="heros_card__heroism">
          <span class="heroism svg_icon_25" inlineSVG="/assets/heroism.svg"></span>
          <div>{{ questProtagonist()?.heroisme }}</div>
        </div>
        <!--div class="progress-container">
          <div class="progress-bar"></div>
        </div-->
      </div>
    </div>

    <div class="heros_card__attr">
      <div *ngFor="let attr of heroAttrs" class="item flex flex-col flex-auto" (click)="openAction(attr.field)">
        <div class="flex justify-center pb-1">{{ attr.attr }}</div>
        <div class="flex justify-center">{{ getAttributValue(attr.field) }}</div>
      </div>
    </div>
  }
</div>

<p-card class="heros_card_old" [style]="{border: '1px solid #424b57', display: 'none'}">
  @if ((questProtagonist$ | async) && questProtagonist()) {
    <div class="flex gap-2">
      <div class="heros_card__img">
        <img style="width:100%"
             [src]="hero().origines.avatar !== null ? hero().origines.avatar : '/assets/bol/empty-avatar.jpg'"
             alt="avatar">
      </div>
      <div class="flex flex-col gap-2" style="width: 150px">
        <div class="heros_card__name">{{ hero().origines.nom }}</div>
        <div class="flex gap-2 items-center" (click)="openResources(heroPanel, $event)">
          <p-tag severity="danger" pTooltip="Vitalité">
            <div class="flex items-center gap-1 px-0.5">
              <div style="width: 15px; height:15px;">
                <i class="pi pi-heart-fill" style="color: red; padding-top: 2px"></i>
              </div>
              <span style="color: white">{{ questProtagonist()?.vitalite }}</span>
            </div>
          </p-tag>
          <p-tag severity="warning">
            @if (questProtagonist()?.heroisme ?? 0 > 0) {
              <div class="flex items-center gap-1 px-0.5" pTooltip="Heroisme">
                <div class="tag_icon warn" inlineSVG="/assets/flame.svg"></div>
                <span style="color: white">{{ questProtagonist()?.heroisme }}</span>
              </div>
            } @else {
              <div class="flex items-center gap-1 px-0.5" pTooltip="Vilénie">
                <div class="tag_icon warn" inlineSVG="/assets/skull.svg"></div>
                <span style="color: white">{{ questProtagonist()?.vilenie }}</span>
              </div>
            }
          </p-tag>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <app-btn pRipple icon="d6" (click)="openAction()"></app-btn>
        <app-btn *ngIf="hero()?.user_id" pRipple icon="user-edit" (click)="fichePerso()"></app-btn>
        <app-btn pRipple icon="trash" (click)="deleteProtagonist(questProtagonist()!.id)"></app-btn>
      </div>
      <div class="heros_card__player">{{ hero().origines.joueur }}</div>
    </div>

  } @else {
    <div class="flex gap-2" style="height:54px">
      <p-skeleton size="50px"/>
      <div class="flex flex-col gap-1">
        <p-skeleton width="150px" height="17px"/>
        <p-skeleton width="50px" height="20px"/>
      </div>
      <div class="flex flex-col gap-2">
        <p-skeleton size="21px"/>
        <p-skeleton size="21px"/>
      </div>
    </div>
  }
</p-card>
<p-overlayPanel #heroPanel>
  <div class="flex flex-col gap-2 pb-2">
    <div class="flex flex-col gap-1">
      <label>Vitalité</label>
      <p-inputNumber [(ngModel)]="ressources.vitalite" inputId="vitalite" variant="filled"/>
    </div>
    @if (ressources.heroisme > 0) {
      <div class="flex flex-col gap-1">
        <label>Heroisme</label>
        <p-inputNumber [(ngModel)]="ressources.heroisme" inputId="heroisme" variant="filled"/>
      </div>
    } @else {
      <div class="flex flex-col gap-1">
        <label>Vilénie</label>
        <p-inputNumber [(ngModel)]="ressources.vilenie" inputId="vilénie" variant="filled"/>
      </div>
    }
  </div>
  <div class="flex justify-end gap-2">
    <button severity="secondary" type="button" size="small" pButton pRipple icon="pi pi-times"
            (click)="heroPanel.toggle($event)"></button>
    <button severity="success" type="button" size="small" pButton pRipple icon="pi pi-check"
            (click)="modifResources(heroPanel, $event)"></button>
  </div>
</p-overlayPanel>
<p-confirmDialog />
<p-menu #menus [popup]="true" [model]="items">
  <ng-template pTemplate="item" let-item>
    <div pRipple class="flex items-center p-menuitem-link" *ngIf="hero()?.user_id">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
    </div>
  </ng-template>
</p-menu>
