.trash-container {
  border-radius: 50%;
  background-color: darken(#607d8b, 10%);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  width: fit-content;
  &:hover {
    background-color: #607d8b;
  }
  i {
    font-size: 16px;
  }
  &.warn {
    background-color: darken(#d9534f, 10%);
    &:hover {
      background-color: #d9534f;
    }
  }
  &.info {
    background-color: darken(#164580, 10%);
    &:hover {
      background-color: #164580;
    }
  }
}
