@use "../../../styles/colors" as colors;
.trash-container {
  border-radius: 25%;
  padding: 3px;
  background-color: darken(#607d8b, 10%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: fit-content;

  &:hover {
    background-color: #607d8b;
  }

  i {
    font-size: 16px;
  }

  &.warn {
    background-color: darken(colors.$warn-color, 15%);

    &:hover {
      background-color: colors.$warn-color;
    }
  }

  &.info {
    background-color: darken(colors.$info-color, 15%);

    &:hover {
      background-color: colors.$info-color;
    }
  }
  &.error {
    background-color: darken(colors.$error-color, 15%);

    &:hover {
      background-color: colors.$error-color;
    }
  }
}
