@use "../../styles/colors" as colors;
@use "sass:color";

.button-container {
  border-radius: 25%;
  padding: 3px;
  background-color: color.adjust(#607d8b, $lightness: -10%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: fit-content;

  &:hover {
    background-color: #607d8b;
  }

  i {
    font-size: 16px;
  }

  &.warn {
    background-color: color.adjust(colors.$warn-color, $lightness: -15%);

    &:hover {
      background-color: colors.$warn-color;
    }
  }

  &.info {
    background-color: color.adjust(colors.$info-color, $lightness: -15%);

    &:hover {
      background-color: colors.$info-color;
    }
  }
  &.error {
    background-color: color.adjust(colors.$error-color, $lightness: -15%);

    &:hover {
      background-color: colors.$error-color;
    }
  }
}
