<!------------------------------->
<!-- Répartition des attributs -->
<!------------------------------->
<p-messages severity="info" *ngIf="type() === 'attr'">
  <ng-template pTemplate>
    <div class="info_icon" inlineSVG="/frontend/assets/rolling-dices.svg"></div>
    <div class="ml-4">
      <ul style="margin: 0; padding-inline-start: 20px">
        <li>Tu as <strong>4 points à répartir</strong> entre différents attributs de combat.</li>
        <li>Tu as le droit de diminuer <strong>une seule fois</strong> un attribut à -1 pour obtenir 1 point supplémentaire à placer ailleurs.
        <li>Tu ne peux pas dépasser un maximum de <strong>3 points</strong> dans un même attribut.</li>
      </ul>
    </div>
  </ng-template>
</p-messages>
<!------------------------------->
<!-- Répartition des aptitudes -->
<!------------------------------->
<p-messages severity="info" *ngIf="type() === 'apt'">
  <ng-template pTemplate>
    <div class="info_icon" inlineSVG="/frontend/assets/rolling-dices.svg"></div>
    <div class="ml-4">
      <ul style="margin: 0; padding-inline-start: 20px">
        <li>Tu as <strong>4 points à répartir</strong> entre différentes aptitudes de combat.</li>
        <li>Tu as le droit de diminuer <strong>une seule fois</strong> une aptitude à -1 pour obtenir 1 point supplémentaire à placer ailleurs.
        <li>Tu ne peux pas dépasser un maximum de <strong>3 points</strong> dans une même aptitude.</li>
      </ul>
    </div>
  </ng-template>
</p-messages>
<!--------------------------------------->
<!-- Gestion des erreurs de formulaire -->
<!--------------------------------------->
<p-messages severity="error" *ngIf="type() === 'form-errors'">
  <ng-template pTemplate>
    <div class="info_icon" inlineSVG="/frontend/assets/flame.svg"></div>
    <div class="ml-4">
      <div class="text-xl pb-1">{{ legend() }}</div>
      <ul style="margin: 0; padding-inline-start: 20px">
        <li *ngFor="let error of data()">
          <strong>{{ error.control }}</strong> {{ error.error }}
        </li>
      </ul>
    </div>
  </ng-template>
</p-messages>
<!------------------------------------------->
<!-- Gestion des avantages et désavantages -->
<!------------------------------------------->
<p-messages severity="info" *ngIf="type() === 'traits'">
  <ng-template pTemplate>
    <div class="info_icon" inlineSVG="/frontend/assets/rolling-dices.svg"></div>
    <div class="ml-4">
      <ul style="margin: 0; padding-inline-start: 20px">
        <li><strong>1 avantage:</strong> Obligatoire.</li>
        <li><strong>2eme avantage:</strong> + 1 désavantage ou -1 point d'héroïsme</li>
        <li><strong>3eme avantage:</strong>  + 1 désavantage ou -1 point d'héroïsme</li>
      </ul>
    </div>
  </ng-template>
</p-messages>
