<!------------------------------->
<!-- Répartition des attributs -->
<!------------------------------->
<p-messages severity="info" *ngIf="type() === 'attr'">
  <ng-template pTemplate>
    <div class="info_icon" inlineSVG="/frontend/assets/rolling-dices.svg"></div>
    <div class="ml-4">
      Tu as <strong>4 points à répartir</strong> entre différents attributs pour créer ton personnage.<br>
      Tu as le droit de diminuer une seule fois un attribut à -1 pour obtenir 1 point supplémentaire à placer ailleurs.<br>
      Tu ne peux pas dépasser un maximum de <strong>3 points</strong> dans un même attribut.
    </div>
  </ng-template>
</p-messages>
<!------------------------------->
<!-- Répartition des aptitudes -->
<!------------------------------->
<p-messages severity="info" *ngIf="type() === 'apt'">
  <ng-template pTemplate>
    <div class="info_icon" inlineSVG="/frontend/assets/rolling-dices.svg"></div>
    <div class="ml-4">
      Tu as <strong>4 points à répartir</strong> entre différentes aptitudes de combat.<br>
      Tu as le droit de diminuer une seule fois une aptitude à -1 <br>pour obtenir 1 point supplémentaire à placer ailleurs.<br>
      Tu ne peux pas dépasser un maximum de <strong>3 points</strong> dans une même aptitude.
    </div>
  </ng-template>
</p-messages>
