<div class="page-container">
  <div class="flex gap-4 p-4">
    <div class="home-bol-logo-container">
      <img class="dw_title" src="/frontend/assets/bol/logo.png" alt=""/>
    </div>
    <div class="flex flex-wrap gap-4">
      <bol-home-card  [routerLink]="['heros']" title="Les Héros" type="heros">
        <div class="home-bol-counter">{{ counts()?.countHeros }}
          <div class="home-bol-counter__description">Héros créé(s)</div>
        </div>
        <div class="home-bol-counter">{{ counts()?.countHerosPending }}
          <div class="home-bol-counter__description">En cours de création</div>
        </div>
      </bol-home-card>
      <bol-home-card  [routerLink]="['pnj']" title="Les Pnj" type="pnj">
        <div class="home-bol-counter">{{ counts()?.countPnjs }}
          <div class="home-bol-counter__description">Archétypes</div>
        </div>
        <div class="home-bol-counter">{{ counts()?.countCreatedPnjs }}
          <div class="home-bol-counter__description">Création(s) personnelle(s)</div>
        </div>
      </bol-home-card>
      <bol-home-card  [routerLink]="['creature']" title="Les Créatures" type="bestiary">
        <div class="home-bol-counter">{{ counts()?.countCreatures }}
          <div class="home-bol-counter__description">Créatures de la bestiaire</div>
        </div>
        <div class="home-bol-counter">{{ counts()?.countCreatedCreatures }}
          <div class="home-bol-counter__description">Création(s) personnelle(s)</div>
        </div>
      </bol-home-card>
      <bol-home-card  [routerLink]="['demon']" title="Les Démons" type="demon">
        <div class="home-bol-counter">{{ counts()?.countDemons }}
          <div class="home-bol-counter__description">Démons</div>
        </div>
        <div class="home-bol-counter">{{ counts()?.countCreatedDemons }}
          <div class="home-bol-counter__description">Création(s) personnelle(s)</div>
        </div>
      </bol-home-card>
      <bol-home-card  [routerLink]="['quest']" title="Les Aventures" type="quest">
        <div class="home-bol-counter">{{ counts()?.countQuest }}
          <div class="home-bol-counter__description">Aventures</div>
        </div>
      </bol-home-card>
    </div>
  </div>
</div>

