<div class="page-container">
  <div class="flex flex-wrap p-4 gap-4">
    <div class="home-bol-logo-container">
      <img class="dw_title" src="/frontend/assets/bol/logo.jpg alt=""/>
    </div>

    <p-card [style]="{ width: '360px', height: '250px' }" styleClass="relative" [routerLink]="['heros']">
      <div class="home-bol-container" style="">
        <div class="home-bol-img heros"></div>
        <div class="p-4">
          <div class="home-bol-card-title">Héros de la Lémurie</div>
          <div>
            <div class="home-bol-counter">{{counts()?.countHeros}}<div class="home-bol-counter__description">Héros créé(s)</div></div>
            <div class="home-bol-counter">{{counts()?.countHerosPending}}<div class="home-bol-counter__description">En cours de création</div></div>
          </div>
        </div>
      </div>
    </p-card>

    <p-card [style]="{ width: '360px', height: '250px' }" styleClass="relative" [routerLink]="['pnj']">
      <div class="home-bol-container" style="">
        <div class="home-bol-img pnj"></div>
        <div class="p-4">
          <div class="home-bol-card-title">Personnages non joueurs</div>
          <div>
            <div>
              <div class="home-bol-counter">{{counts()?.countPnjs}}<div class="home-bol-counter__description">Archétypes</div></div>
              <div class="home-bol-counter">{{counts()?.countCreatedPnjs}}<div class="home-bol-counter__description">Création(s) personnelle(s)</div></div>
            </div>
          </div>
        </div>
      </div>
    </p-card>


    <p-card [style]="{ width: '360px', height: '250px' }" styleClass="relative" [routerLink]="['creature']">
      <div class="home-bol-container" style="">
        <div class="home-bol-img bestiary"></div>
        <div class="p-4">
          <div class="home-bol-card-title">Bestiaire de la Lémurie</div>
          <div>
            <div class="home-bol-counter">{{counts()?.countCreatures}}<div class="home-bol-counter__description">Créatures de la bestiaire</div></div>
            <div class="home-bol-counter">{{counts()?.countCreatedCreatures}}<div class="home-bol-counter__description">Création(s) personnelle(s)</div></div>
          </div>
        </div>
      </div>
    </p-card>

    <p-card [style]="{ width: '360px', height: '250px' }" styleClass="relative" [routerLink]="['creature']">
      <div class="home-bol-container" style="">
        <div class="home-bol-img demon"></div>
        <div class="p-4">
          <div class="home-bol-card-title">Démons et morts-vivants</div>
          <div>
            <div class="home-bol-counter">0</div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>

