<div class="flex flex-wrap p-4 gap-4">
  <img class="dw_title" src="/frontend/assets/bol/logo.png" alt=""/>
  <p-card [style]="{ width: '360px', height: '250px' }" styleClass="relative" [routerLink]="['heros']">
    <div class="home-bol-container" style="">
      <div class="home-bol-img heros"></div>
      <div class="p-4">
        <div class="p-card-title">Héros</div>
      </div>
    </div>
  </p-card>

  <p-card [style]="{ width: '360px', height: '250px' }" styleClass="relative">
    <div class="home-bol-container" style="">
      <div class="home-bol-img bestiary"></div>
      <div class="p-4">
        <div class="p-card-title">Bestiaire de la Lémurie</div>
      </div>
    </div>
  </p-card>

</div>
