:host {
  display: block;
}

:host ::ng-deep .p-card,
:host ::ng-deep .p-card-body,
:host ::ng-deep .p-card-content {
  border-radius: 0 !important;
}

:host ::ng-deep .p-tag {
  border-radius: 6px !important;
}
